.cards:not(.profile-summary) > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(278px, 1fr));
  grid-gap: 16px;
}

.cards:not(.profile-summary) > ul > li {
  border: 1px solid var(--dark-color);
  background-color: var(--white);
}

.cards:not(.profile-summary) .cards-card-body {
  margin: 16px;
}

.cards:not(.profile-summary) .cards-card-image {
  line-height: 0;
}

.cards:not(.profile-summary) .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards:not(.profile-summary) > ul > li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.cards-wrapper {
  padding: 0;
}

.cards:not(.profile-summary) {
  padding: var(--spacing-large) var(--spacing-xlarge) 0;
}

/* Profile View Styles */

.cards.profile-summary ul {
  list-style: none;
  padding: 0;
}

.cards.profile-summary .cards-card-body {
  background: var(--neutral-solid-10-s);
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.cards.profile-summary .cards-card-image {
  line-height: 0;
}

.cards.profile-summary > ul > li {
  display: grid;
}

.cards.profile-summary .cards-card-body p.button-container {
  margin-top: var(--spacing-large);
}

.cards.profile-summary .cards-card-body h1,
h2,
h3,
h4 {
  font-size: var(--font-size-1100);
  line-height: 28px;
  margin-bottom: var(--spacing-medium);
  margin-top: 0;
  font-weight: 700;
  letter-spacing: -0.015em;
  text-align: left;
  font-style: normal;
  color: var(--text-on-light-highlight);
}

.cards.profile-summary .cards-card-body p {
  font-size: var(--font-size-500);
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  letter-spacing: -0.25px;
  text-align: left;
  text-wrap: wrap;
  color: var(--text-on-light-emphasis);
}

.cards.profile-summary .cards-card-body p > a {
  line-height: 19px;
  margin: 0;
}

.cards.profile-summary > ul > li img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 10px 10px 0 0;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.cards.senior-leadership .cards-card-body h3 {
  margin-bottom: 10px;
  line-height: 10px;
  font-size: var(--font-size-600);
}

html:lang(ar) .cards-wrapper .cards .cards-card-body h3 {
  text-align: right;
}

.cards.senior-leadership .cards-card-body p {
  font-size: var(--font-size-300);
  margin: 0;
}

html:lang(ar) .cards-wrapper .cards .cards-card-body p {
  text-align: right;
}

@media (width >= 768px) {
  .cards.profile-summary .cards-card-body p {
    line-height: 22px;
  }

  .cards.profile-summary > ul > li {
    grid-template-columns: 252px auto;
  }

  .cards.profile-summary > ul > li img {
    min-width: 252px;
    min-height: 358px;
    border-radius: 10px 0 0 10px;
  }
  
  html:lang(ar) .cards.profile-summary > ul > li img {
    border-radius: 0 10px 10px 0;
  }

  .cards.profile-summary .cards-card-body {
    border-radius: 0 10px 10px 0;
  }

  html:lang(ar) .cards.profile-summary .cards-card-body {
    border-radius: 10px 0 0 10px;
  }

  .cards.profile-summary .cards-card-body h1,
  .cards.profile-summary .cards-card-body h2,
  .cards.profile-summary .cards-card-body h3,
  .cards.profile-summary .cards-card-body h4 {
    line-height: 36px;
  }
}

@media (width >= 1024px) {
  .cards.profile-summary > ul > li {
    grid-template-columns: 465px 2fr;
  }

  .cards.profile-summary .cards-card-body {
    padding: 80px;
  }

  .cards.profile-summary .cards-card-body h1,
  .cards.profile-summary .cards-card-body h2,
  .cards.profile-summary .cards-card-body h3,
  .cards.profile-summary .cards-card-body h4 {
    line-height: 48px;
  }

  .cards.profile-summary .cards-card-body p {
    line-height: 25px;
  }

  .cards.profile-summary > ul > li img {
    border-radius: 8px 0 0 8px;
  }

  html:lang(ar) .cards.profile-summary > ul > li img {
    border-radius: 0 8px 8px 0;
  }
}

/* Senior Leadership View Styles */

.cards.senior-leadership {
  padding: 0;
}

.cards.senior-leadership > ul {
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5rem;
}

.cards.senior-leadership > ul > li {
  border: none;
}

.cards.senior-leadership .cards-card-image img {
  border-radius: 5px;
}

.cards.senior-leadership .cards-card-body {
  margin: 16px 0 0;
}

.cards.senior-leadership .cards-card-body h3 a {
  text-decoration: none;
  font-weight: 700;
  font-size: var(--font-size-600);
  color: var(--text-on-light-link-primary-enabled);
}

@media (width >= 768px) {
  .cards.senior-leadership > ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (width >= 1024px) {
  .cards.senior-leadership > ul {
    grid-template-columns: repeat(5, 1fr);
  }
}
