/* Profile View Styles */

.card-profile ul{
  list-style: none;
  padding: 0;
}

.card-profile .cards-card-body {
  background: var(--neutrals-20);
  padding: var(--xlarge) var(--large);
  border-radius: 0 0 10px 10px;
}

.card-profile .cards-card-image {
  line-height: 0;
}

.card-profile > ul > li {
  display: grid;
}

.card-profile .cards-card-body > p.button-container {
  margin-top: var(--regular);
}

.card-profile .cards-card-body > *:first-child {
  font-size: var(--h1-base);
  line-height: 33px;
  margin-bottom: 20px;
  margin-top: 0;
}

.card-profile .cards-card-body > *:first-child strong {
  font-weight: 700;
}

.card-profile .cards-card-body > p {
  font-size: var(--body-large);
  line-height: 22px;
  font-weight: 400;
  margin: 0;
}

.card-profile .cards-card-body > p > a {
  line-height: 19px;
}

.card-profile > ul > li img {
  /* min-width: 334px; */
  width: 100%;
  min-height: 320px;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

@media (width >= 768px) {
  .card-profile > ul > li {
    grid-template-columns: 1fr 2fr;
  }

  .card-profile > ul > li img {
    min-width: 252px;
    min-height: 358px;
    border-radius: 10px 0 0 10px;
  }

  .card-profile .cards-card-body {
    border-radius: 0 10px 10px 0;
  }
}

@media (width > 1024px) {
  .card-profile > ul > li {
    grid-template-columns: auto auto;
  }
}