.block-quote {
    padding: 0 0 0 32px;
    border-left: 4px solid var(--text-on-light-highlight);
    margin: var(--spacing-large) 0;
}

blockquote {
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-700);
    letter-spacing: -0.15px;
    line-height: 115%;
    color: var(--text-on-light-highlight);
    margin: 0;
}
