.heading h1,
.heading h2,
.heading h3,
.heading h4,
.heading h5,
.heading h6 {
    color: var(--text-on-light-highlight);
    margin-bottom: 0;
}

.heading h1 {
    font-size: var(--font-size-1200);
    line-height: 40.32px;
}

.heading h2 {
    font-size: var(--font-size-1000);
    line-height: 31.36px;
}

.heading h1 span,
.heading h2 span,
.heading h3 span,
.heading h4 span,
.heading h5 span,
.heading h6 span {
    color: var(--text-on-light-highlight);
    font-weight: 400;
}

.heading .eyebrowtext:not(:empty) {
    margin-bottom: 0;
    font-weight: 700;
    line-height: 17.5px;
    font-size: var(--font-size-300);
}

.heading .heading-description:empty {
   display:none;
}

.heading .eyebrowtext:empty {
    display:none;
}

.heading .heading-description:not(:empty) {
    font-size: var(--font-size-300);
    margin-top: 4px;
}

.heading hr {
    margin-top: var(--spacing-medium);
    color: var(--divider-on-light-default);
}

main .section[data-sec-spacing="section-none"] { padding-top: var(--spacing-none); }
main .section[data-sec-spacing="section-xtiny"] { padding-top: var(--spacing-xtiny); }
main .section[data-sec-spacing="section-tiny"] { padding-top: var(--spacing-tiny); }
main .section[data-sec-spacing="section-xxsmall"] { padding-top: var(--spacing-xxsmall); }
main .section[data-sec-spacing="section-xsmall"] { padding-top: var(--spacing-xsmall); }
main .section[data-sec-spacing="section-regular"] { padding-top: var(--spacing-regular); }
main .section[data-sec-spacing="section-small"] { padding-top: var(--spacing-small); }
main .section[data-sec-spacing="section-medium"] { padding-top: var(--spacing-medium); }
main .section[data-sec-spacing="section-large"] { padding-top: var(--spacing-large); }
main .section[data-sec-spacing="section-xlarge"] { padding-top: var(--spacing-xlarge); }
main .section[data-sec-spacing="section-xxlarge"] { padding-top: var(--spacing-xxlarge); }
main .section[data-sec-spacing="section-huge"] { padding-top: var(--spacing-huge); }
main .section[data-sec-spacing="section-xhuge"] { padding-top: var(--spacing-xhuge); }

@media (width <768px) {
    .heading .eyebrowtext:not(:empty)  {
        font-size: var(--font-size-200);
    }

    .heading h1 {
        line-height: 40.32px;
    }

    .heading h2 {
        line-height: 31.36px;
    }
}

@media (width >=768px) {
    .heading h1 {
        line-height: 49.28px;
    }

    .heading h2 {
        line-height: 35.84px;
    }
}

@media (width >=1024px) {
    .heading .eyebrowtext:not(:empty) {
        line-height: 20px;
        font-size: var(--font-size-300);
    }

    .heading h1 {
        line-height: 67.2px;
    }

    .heading h2 {
        line-height: 44.8px;
    }
}
