.data-cards.data-card-variation {
  display: flex;
  flex-direction: column;
}

.data-cards.data-card-variation .data-card-items {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: auto;
  gap: var(--medium);
  margin: 0;
  padding: 0;
  list-style: none;
  color: var(--text-color);
}

.data-cards .rte-container > div:nth-child(3) {
  margin-top: 30px;    
  margin-bottom: var(--huge);
}

.data-cards.data-card-variation .rte-container > div:first-child {
  font-weight: 700;
  font-size: var(--h2-base);
  line-height: 112%;
  text-transform: uppercase;
  color: var(--primary-blue-100);
  margin-bottom: 0;
}

.data-cards.data-card-variation .rte-container > div:nth-child(2) {
  font-size: var(--default);
  line-height: 125%;
  color: var(--neutrals-100);
}

.data-cards .rte-container .button-container a{
  font-weight: 700;
  font-size: var(--body-small);
  line-height: 170%;
}

.data-cards.data-card-variation .data-card-disclaimer > p {
  padding-top: 18px;
  color: var(--neutrals-a-90);
  border-top: 2px #D9D9D9 solid;
}

.data-cards.data-card-variation .anchor-tag{
    text-decoration: none;
}

.data-cards.data-card-variation .data-card-description > p {
  margin-top: var(--xxsmall);
  margin-bottom: 58px;
}

.data-cards.data-card-variation .data-card-title > p {
  margin-top: 20px;
  margin-bottom: var(--xxsmall);
}

.data-cards.data-card-variation .data-card-tag > p {
  text-transform: uppercase;
}

.data-cards .news-card .news-card-tag > p {
  margin: 0;
}

.data-cards.data-card-variation .rte-container > div:nth-child(3) > div > p {
  display: inline-block;
  margin-right: var(--xxsmall);
}

.data-cards.data-card-variation .rte-container > div:nth-child(3) > div > p:first-child {
  font-weight: 700;
  font-size: var(--default);
  line-height: 125%;
  color: var(--neutrals-100);
  display: block;
  margin-bottom: var(--regular);

}

.data-cards.data-card-variation .rte-container > div:nth-child(3) > div > p.button-container a {
  margin: 0;
}

.data-cards.news-card-variation .anchor-tag {    
    text-decoration: none;
    order: 2;
    padding-left: 18px;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: var(--primary-blue-80);
    margin-bottom: 30px;
  }

.data-cards.data-card-variation .data-card {
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 388px;
  padding: 28px 28px 30px;

  /* margin-top: 10px; */
  background-color: var(--color-white);
  text-align: left;
  min-width: 276px;
  border: 1px solid #D9D9D9;

  /* margin-bottom: 10px; */
}

.data-cards.data-card-variation .data-card-tag {
  font-size: var(--body-tiny);
  font-weight: 700;
  line-height: 110%;
  letter-spacing: 0.05em;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.data-cards.data-card-variation .data-card-title {
  font-size: var(--h2-large);
  font-weight: 700;
  line-height: 115%;
}

.data-cards.data-card-variation .data-card-description {
  font-size: var(--body-large);
  font-weight: 400;
  line-height: 125%;
  text-align: left;
  min-height: 120px;
}

.data-cards.data-card-variation .data-card-disclaimer {
  font-size: var(--body-tiny);
  font-style: italic;
  font-weight: 400;
  line-height: 120%;
}

.data-cards.data-card-variation .data-card-tag.prosperity {
  border-bottom-color: #872C8F;
}

.data-cards.data-card-variation .data-card-tag.people {
  border-bottom-color: #F7B841;
}

.data-cards.data-card-variation .data-card-tag.digital {
  border-bottom-color: #5D6472;
}

.data-cards.data-card-variation .data-card-tag.planet {
  border-bottom-color: #07AB50;
}

.data-cards.data-card-variation .data-card-tag.infrastructure {
  border-bottom-color: #91302F;
}


.data-cards.news-card-variation .rte-container > div:first-child {
  font-size: var(--h2-base);
  line-height: 112%;
  text-transform: uppercase;
  color: var(--input-background-color);
}

.data-cards.news-card-variation .rte-container > div:nth-child(2) {
  border-bottom: 2px solid var(--neutrals-20);
  line-height: 150%;
  font-size: var(--body-medium);
}

.data-cards.news-card-variation .rte-container > div:nth-child(3) > div > p:first-child {
  /* refactor */
  font-weight: 700;
  font-size: var(--body-large);
  line-height: 150%;
  color: var(--neutrals-100);
}

.data-cards.news-card-variation .news-card-items .news-card {
  display: grid;
  padding-top: var(--medium);
}

.data-cards.news-card-variation .news-card-items .news-card:not(:first-child) {
  border-top: 2px solid var(--neutrals-20);
}

.data-cards .news-card .news-card-tag {
  order: 1;
  padding-left: 18px;
  position: relative;
  font-weight: 700;
  font-size: var(--body-tiny);
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--neutrals-a-70);
}

.data-cards .news-card .news-card-title {
  order: 2;
  padding-left: 18px;
  font-weight: 700;
  font-size: var(--heading-label-tiny);
  line-height: 116%;
  color: var(--primary-blue-80);
  margin-bottom: 30px;
}

.data-cards.news-card-variation.block .news-card-items .news-card  > .news-card-title > p {
  margin-top:var(--xsmall);
}

.data-cards .news-card .news-card-tag.planet {
  position: relative;
}

.data-cards .news-card .news-card-tag::before {
  content: '';
  display: block;
  width: 2px;
  min-height: 100px;
  background: #07AB50;
  position: absolute;
  left: 0;
  top: 4px;
  z-index: 1;
}

.data-cards .news-card .news-card-tag.planet::before {
  background: #07AB50;
}

.data-cards .news-card .news-card-tag.infrastructure::before {
  background: #91302F;
}

.data-cards.news-card-variation .rte-container > div:nth-child(3) > div > p.button-container {
  display: inline-block;
}

.data-cards.news-card-variation .rte-container > div:nth-child(3) > div > p.button-container a {
  margin: 0;
}

.data-cards .news-card .news-card-image {
  order: 0;
  margin-bottom: var(--spacing-20);
}

.data-cards .news-card .news-card-image img {
  width: 100%;
  height: 100%;
}

@media (width >= 768px) {
  .data-cards.data-card-variation .rte-container {
    display: grid;
    grid-template-areas:
        "data focus"
        "essentials focus";
  }

  .data-cards.data-card-variation .rte-container > div:first-child {
    grid-area: data;
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(2) {
    grid-area: essentials;
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(3) {
    grid-area: focus;
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(1) > div > p {
    margin-bottom: var(--regular);
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(2) > div > p {
    margin-top:0;
    margin-bottom: var(--medium);

    > a {
      margin-bottom: var(--xhuge);
    }
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(3) > div > p:first-child{
    margin-top:0;
    margin-bottom: var(--medium);
  }

  .data-cards.news-card-variation .rte-container > div:nth-child(2) {
    padding-bottom: var(--spacing-48);
  }

  .data-cards.data-card-variation .data-card-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: unset;
  }

  .data-cards.news-card-variation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
  }

  .data-cards.news-card-variation .rte-container > div:first-child {
    font-size: var(--h2-base);
    line-height: 110%;
  }
}

@media (width >= 1024px) {
  .data-cards.data-card-variation {
    flex-direction: row;
    justify-content: space-between;
  }

  .data-cards.data-card-variation .rte-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    position: sticky;
    top: 0;
    height: fit-content;
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(1) > div > p {
    margin-bottom: var(--small);
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(2) {
    margin-bottom: 72px;
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(2) > div > p {
    margin-top:0;
    margin-bottom: var(--medium);
  }

  .data-cards.data-card-variation .rte-container > div:nth-child(3) > div > p:first-child{
    margin-top:0;
    margin-bottom: var(--medium);
  }

  .data-cards.data-card-variation .data-card-items {
    flex-basis: 60%;
  }

  .data-cards .news-card:not(:first-child) {
    display: grid;
    grid-template-columns: 2fr 25%;
    grid-template-rows: 1fr minmax(165px, auto);
    padding-top: 30px;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
        "tag image"
        "title image";
    column-gap: var(--large);
    align-items: center;
  }

  .data-cards .news-card:not(:first-child) .news-card-tag {
    grid-area: tag;
  }

  .data-cards .news-card:not(:first-child) .news-card-title {
    grid-area: title;
  }

  .data-cards .news-card:not(:first-child) .news-card-image {
    grid-area: image;
  }

  .data-cards.news-card-variation .rte-container {
    max-width: 400px;
    height: fit-content;
    position: sticky;
    top: 0;
  }


  .data-cards.news-card-variation .rte-container > div:nth-child(2) {
    padding-bottom: var(--spacing-64);
  }

  .data-cards.news-card-variation .rte-container > div:first-child {
    font-size: var(--h2-base);
    line-height: 112%;
  }

  .data-cards.news-card-variation.block .rte-container > div:nth-child(1) > div > p {
    margin-bottom:var(--regular);
  } 

  .data-cards.news-card-variation.block .rte-container > div:nth-child(2) > div > p {
    a {
      margin:0;
      padding:0;
    }

    margin-bottom:0;
  } 

  .data-cards.news-card-variation .rte-container > div:nth-child(3) > div > p:first-child {
    margin:var(--regular) 0;
  }
}
