.explore-cards-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-20);
}

.development-stories {
    width: 100%;
}

.explore-title {
    margin-bottom: var(--spacing-20);
}

.explore-title p {
    font-size:var( --heading-font-size-m);
    line-height: 30.8px;
}

.stories-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--spacing-20);
    width: 100vw;
    overflow-x: scroll;
}

.story-card {
    position: relative;
    border-radius: 10px;
    height: 400px;
    min-width: 300px;
}

.story-card .contenttype-icon {
    width: 72px;
    height: 72px;
    background: var(--background-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story-card a {
    text-decoration: none;
    color: var(--color-white);
    display: block;
    height: 100%;

    div {
        height: 100%;
    }
}

.story-card picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.story-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing-20);
    background: linear-gradient(180deg, rgb(1 39 64 / 0%) 39.98%, #012740 78.99%);
    color: var(--color-white);
    z-index: 1;
}

.story-heading p {
    font-size: var(--heading-font-size-xs);
    font-weight: 700;
    line-height: 24px;
}

.story-type p {
    font-size: var(--body-font-size-xs);
    font-weight: 700;
    line-height: 13.2px;
    letter-spacing: 0.06em;
}

.story-content .story-heading h3 {
    font-size: var(--heading-font-size-xxs);
    font-weight: 700;
    line-height: 24px;
}

@media (width >= 768px) {
    .explore-title p {
        font-size: var(--heading-font-size-l);
        line-height: 35.2px;
    }

    .stories-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--spacing-20);
        width: unset;
        overflow-x: unset;
    }
    
    .story-card {
        position: relative;
        border-radius: 10px;
        height: 350px;
        min-width: unset;
    }

    .story-heading p {
        font-size: var(--heading-font-size-xxs);
        font-weight: 700;
        line-height: 24px;
    }

    .story-content .story-heading h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28.8px;
    }
}

@media (width >= 1024px) {
    .explore-title p {
        font-size: var(--heading-font-size-l);
        line-height: 44px;
    }

    .story-card {
        height: 500px;
    }

    .story-type p {
        letter-spacing: 0.05em;
    }

    .story-heading p {
        font-size: var(--heading-font-size-xs);
        font-weight: 700;
        line-height: 28.8px;
    }

    .story-content .story-heading h3 {
        font-size: var(--heading-font-size-l);
        font-weight: 700;
        line-height: 28.8px;
    }

    .stories-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
