.explore-cards-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.explore-cards {
    width: 100%;
}

.story-type p {
    font-size: var(--font-size-100);
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.06em;
}

.card-title p {
    font-size: var(--font-size-600);
    font-weight: 700;
    line-height: 125%;
    margin-top: 12px;
    margin-bottom: 0;
}

.section .explore-cards > .main-heading > div > p{
    color: var(--text-on-dark-emphasis);
    font-size: var(--font-size-1000);
    line-height: 112%;
}

.explore-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--spacing-medium);
}

.explore-card {
    position: relative;
    border-radius: 10px;
    height: 400px;
    flex:none;
}

.card-icon {
    width: 72px;
    height: 72px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    background-repeat: no-repeat;
    background-position: center;
}

.card-icon.icon-video {
    background-image: url("../../icons/playbutton.svg");
}

.card-icon.icon-audio {
    background-image: url("../../icons/podcast.svg");
}

.explore-card a {
    text-decoration: none;
    color: var(--white);
    display: block;
    height: 100%;
}

.explore-card a .card-img {
    height: 100%;
}

.explore-card picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.explore-card .card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--spacing-xlarge);
    background: linear-gradient(180deg, rgb(1 39 64 / 0%) 39.98%, #012740 78.99%);
    color: var(--white);
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.story-type {
    font-size: var(--font-size-100);
    font-weight: 700;
    line-height: 13.2px;
    letter-spacing: 0.06em;
}

@media (width >=768px) {
    .explore-card {
        border-radius: 10px;
        height: 350px;
    }

    .card-title p {
        margin-top: 16px;
        font-size: var(--font-size-600);
        margin-bottom: 0;
    }

    .card-icon {
        margin: 32px 0;
    }

}

@media (width >=1024px) {
    .explore-card {
        height: 500px;
    }

    .story-type {
        letter-spacing: 0.05em;
    }

    .story-type p {
        letter-spacing: 0.05em;
    }

    .card-title p {
        font-weight: 700;
        margin-top: 16px;
    }

    .explore-card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .explore-card-container .main-heading p {
        margin:  0 0 58px;
    }
}
