.measuring-impact-cards{
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    gap: 20px;
    align-items: center;
    align-content: flex-start;
}

.impact-card-wrapper{
    width: 100%;
}

.impact-card-wrapper > a {
    text-decoration: none;
    line-height: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: 20px;
}

.impact-card-wrapper p.impact-indicator {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    color: var(--text-on-light-subdued);
    text-wrap: wrap;
    margin: 12px 0;
    width: 100%;
}

.impact-card-body-content {
    display: grid;
    gap: 4px 20px;
    align-items: center;
    grid-template-columns: 72px auto;
}

.impact-card-content {
    padding: 0 0 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    justify-content: center;
}

.impact-card-content > p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-on-light-emphasis);
    letter-spacing: -0.25px;
}

.impact-card-content p:first-child {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    letter-spacing: -0.015em;
    color: var(--primary-blue-90);
    margin-bottom: 4px;
}

@media (width >= 768px) {
    .measuring-impact-cards{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
    }

    .impact-card-wrapper > a {
        gap: 24px;
    }

    .impact-card-wrapper p.impact-indicator {
        margin-top: 8px;
        min-height: 32px;
        margin-bottom: 0;
    }

    .impact-card-body-content {
        display: grid;
        gap: 8px 24px;
        grid-template-columns: auto;
    }

    .impact-card-img img {
        width: 112px;
        height: 112px;
    }
    
    .impact-card-content > p {
        font-size: 18px;
        line-height: 22px;
    }
}

@media (width >= 1024px) {
    .measuring-impact-cards{
        gap: 32px;
    }

    .impact-card-wrapper > a {
        gap: 32px;
    }

    .impact-card-wrapper p.impact-indicator {
        margin-top: 12px;
        min-height: auto;
    }

    .impact-card-body-content {
        gap: 12px 32px;
        grid-template-columns: 112px auto;
    }

    .impact-card-content {
        gap: 8px;
    }

    .impact-card-content > p {
        font-size: 20px;
        line-height: 25px;
    }
    
    .impact-card-content p:first-child {
        font-size: 36px;
        line-height: 41px;
    }
}