.columns > div {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
}

.columns img {
  width: 100%;
}

.columns > div > .columns-img-col {
  order: 0;
}

.auto-image-container picture img {
  height: 272px;
  object-fit: cover;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns > div > div > {
  order: 1;
}

.columns.columns-transform-teaser > div {
  display: grid;
  grid-template-columns: 45% 55%;
  padding: var(--spacing-xhuge) 0 75px;
  position: relative;
}

.column-layout-67-33 > div > div > p {
  font-size: var(--font-size-500);
  font-weight: 400;
  line-height: 125%;
  letter-spacing: -0.25px;
  color: var(--text-on-light-emphasis);
}

.column-layout-67-33 > div > div > p > a.button {
  margin: 0;
}

.columns > div > div > p {
  margin: var(--spacing-none);
}

.columns.columns-transform-teaser > div p {
  margin: 0;
}

.columns.columns-divider-variant > div > div > p {
  font-size: var(--font-size-500);
  line-height: 150%;
}

.columns.columns-divider-variant > div > div > ul{
  font-size: var(--font-size-500);
  line-height: 125%;
  font-weight: 400;
  letter-spacing: -0.25px;
  color: var(--text-on-light-default);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 0 0 23px;
}

.columns.columns-divider-variant > div > div > ul ~ p {
  color: var(--text-on-light-default);
}

.columns.columns-feature-card .columns-feature-card-content > p,
.columns.columns-feature-card .columns-feature-card-content > p strong > em > a {
  margin: 0;
}

.columns.columns-transform-teaser > div p:nth-child(1) {
  font-size: var(--font-size-1000);
  text-transform: uppercase;
  margin-bottom: var(--spacing-small);
  line-height: 112%;
  color: var(--text-on-dark-emphasis);
}

.columns.columns-transform-teaser > div p:nth-child(2) {
  line-height: 25px;
  font-size: var(--font-size-500);
  color: var(--text-on-dark-default);
}

.columns.columns-transform-teaser > div p:nth-child(3) {
  display: inline-flex;
  margin: var(--spacing-large) 30px var(--spacing-small) 0;
}

.columns.columns-transform-teaser > div p:nth-child(4) {
  display: inline-flex;
}

.columns.columns-divider-variant div div:nth-child(1) p {
  margin: 0 0 var(--spacing-xlarge);
}

.columns.columns-divider-variant div div:nth-child(2) p {
  margin: 0 0 var(--spacing-regular);
}

.bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(3) a {
  margin: 0;
}

.bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(4) em{
  display: flex;
}

.bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(4) a {
  background-color: var(--transparent);
  color: var(--background-container-on-light-link-secondary-enabled);
  font-size: var(--font-size-300);
  border-bottom: 2px solid var(--divider-on-dark-subdued);
  border-radius: var(--border-radius-none);
  padding: 12px 0 4px;
  margin: 0;
}

.bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(4) a:focus-visible {
  outline: 2px solid var(--links-focus-color);;
}

.columns.columns-transform-teaser .columns-img-col {
  position: absolute;
  right: 0;
  top: -110px;
  z-index: 11;
}

html[dir="rtl"] .columns.columns-transform-teaser .columns-img-col{
  left: 0;
  right: auto;
}

/* Column alignment - Start */

.columns.halign-top > div {
  align-items: flex-start;
}

.columns.halign-center > div {
  align-items: center;
}

.columns.halign-bottom > div {
  align-items: flex-end;
}

.columns.valign-top > div {
  justify-content: flex-start;
}

.columns.valign-center > div {
  justify-content: center;
}

.columns.valign-bottom > div {
  justify-content: flex-end;
}

.columns.columns-divider-variant > div {
  gap: var(--section-gutter-space);
}

html[dir="rtl"] .columns > div {
  text-align: right;
}

html[dir="rtl"] .columns.columns-transform-teaser>div {
  padding: var(--spacing-xhuge) 0 45px;
}

@media (width > 1024px) {
  .columns.valign-top > div {
    align-items: flex-start;
  }

  .columns.valign-center > div {
    align-items: center;
  }

  .columns.valign-bottom > div {
    align-items: flex-end;
  }

  .columns.halign-top > div {
    justify-content: flex-start;
  }

  .columns.halign-center > div {
    justify-content: center;
  }

  .columns.halign-bottom > div {
    justify-content: flex-end;
  }

  /* Special Case for button in columns-2-cols */
  .columns.columns-2-cols > div > div:last-child:has(p:only-child>a:only-child) {
    display: flex;
  }
  
  .columns.columns-2-cols > div > div:last-child:has(p:only-child) > p:has(a:only-child) {
    align-self: flex-end;
  }
}

/* Column alignment - End */
  .columns h2 {
    font-weight: 400;
  }

  .columns > div > div > h2 {
    margin-bottom: var(--spacing-xxsmall);
    color: var(--text-on-light-highlight);
    text-transform: uppercase;
  }

  .column-layout-67-33 > div > div > h2 {
    line-height: 112%;
    letter-spacing: -0.03em;
    margin-top: 0;
  }
  
  .columns h2 strong {
    font-weight: var(--font-weight-700);
  }

  .columns.columns-2-cols.columns-heading-with-description div > div {
    margin-bottom:var(--size-icon-large);
  }

  .columns.columns-2-cols.columns-heading-with-description > div h2 {
    font-size:var(--font-size-1000);
    line-height: 112%;
    text-transform: uppercase;
    font-weight: 400;
    margin:var(--spacing-none);
  }

  .columns.columns-2-cols.columns-heading-with-description > div h2 > strong {
      font-weight: var(--font-weight-700);
    }

  .columns.columns-2-cols.columns-heading-with-description > div > div > p {
    font-size:var(--font-size-500);
    line-height: 125%;
    margin:var(--spacing-none);
    color: var(--text-on-dark-emphasis);
  }

@media (width >= 1024px) {
  .columns > div {
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
  
  .columns.columns-divider-variant > div > div:first-child > p {
    min-width: 469px;
  }
}

.columns.columns-divider-variant > div > div:first-child > p {
  font-size: var(--font-size-700);
  line-height: 116%;
  color: var(--text-on-light-emphasis);
}

.columns.columns-feature-card > div > div > p:first-child {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-1000);
  line-height: 31px;
  margin-top: var(--spacing-none);
  margin-bottom: var(--spacing-large);
  text-transform: uppercase;
}

html[dir="rtl"] .columns.columns-transform-teaser>div p:nth-child(3) {
  margin: var(--spacing-large) 0 var(--spacing-small) 30px;
}

.columns.columns-feature-card .columns-feature-card-thumbnail {
  margin: var(--spacing-none);
}

.columns.columns-feature-card .columns-feature-card-thumbnail picture {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  aspect-ratio: 3 / 2;
  margin-bottom: var(--spacing-large);
}

.columns.columns-feature-card .columns-feature-card-thumbnail picture img {
  border-radius: 5px;
  aspect-ratio: 3/2;
}

.columns.columns-feature-card .columns-feature-card-description {
  font-family: var(--heading-font-family);
  font-size: var(--font-size-500);
  line-height: 125%;
  letter-spacing: -0.25px;
  font-weight: 400;
  text-align: left;
  margin: var(--spacing-none);
  margin-bottom: var(--spacing-tiny);
}

html[dir="rtl"] .columns.columns-feature-card .columns-feature-card-description {
  text-align: right;
}

.columns.columns-feature-card .button-container {
  margin: var(--spacing-none);
  display: flex;
}

.columns.columns-feature-card .button-container a.button {
  background-color: transparent;
  color: var(--white);
  border: var(--spacing-none) none;
  border-radius: var(--border-radius-none);
  padding: var(--spacing-none);
  padding-top: var(--spacing-small);
  padding-bottom: var(--spacing-xsmall);
  border-bottom: 2px solid var(--divider-on-dark-subdued);
  margin: var(--spacing-none);
  font-size: var(--font-size-200);
  line-height: 24px;
  font-weight: var(--font-weight-700);
}

.columns.columns-feature-card .button-container a.button:hover {
  color: var(--white);
  border-bottom-color: var(--global-interactive-on-dark-hover);
}

.columns.columns-feature-card .button-container a.button:focus {
  color: var(--accent-blue-primary-70);
}

.columns.columns-feature-card .columns-feature-card-content:last-child {
  margin-bottom: var(--spacing-xhuge);
}

.columns.columns-feature-card > div > div:last-child .button-container {
  margin-bottom: var(--spacing-none);
}

.columns.columns-divider-variant > div > div:last-child {
  border-left: 2px solid var(--neutral-solid-10-s);
  border-right-width: 0;
  padding-left: 28px;
  padding-right: unset;
}

@media(width < 1024px) {
  .columns.columns-transform-teaser>div{
    padding: var(--spacing-xhuge) 0;
  }

  .column-layout-67-33 > div > div > p > a.button {
    margin: var(--spacing-medium) 0 0;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(1) {
    line-height: 35px;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(3) a {
    display: block;
    font-size: var(--font-size-200);
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(4) a {
    display: block;
    font-size: var(--font-size-200);
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser p:nth-child(4) {
    display: block;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser .columns-img-col img {
    width: 371px;
  }
}

@media (width >= 768px) {
  .auto-image-container picture img {
    height: 400px;
    object-fit: cover;
  }

  .columns.columns-divider-variant > div {
    gap: 32px;
  }

  .columns.columns-feature-card > div > div {
    display: grid;
    grid-template-columns: 228px 1fr;
    grid-template-areas:
        "title title"
        "thumbnail description";
    position: relative;
    column-gap: 28px;
    margin-bottom: var(--spacing-xhuge);
  }

  .columns.columns-divider-variant > div > div:last-child {
    padding-left: 32px;
  }

  .columns.columns-feature-card > div > div > p:first-child {
    line-height: 112%;
    grid-area: title;
    margin-bottom: var(--spacing-large);
  }

  .columns.columns-feature-card .columns-feature-card-thumbnail {
    grid-area: thumbnail;
    margin: var(--spacing-none);
  }

  .columns.columns-feature-card .columns-feature-card-thumbnail picture {
    margin-bottom: var(--spacing-none);
  }

  .columns.columns-feature-card .columns-feature-card-content {
    grid-area: description;
  }

  .columns.columns-feature-card .columns-feature-card-content > p:first-child {
    margin: 0;
    margin-bottom: 20px;
  }

  .columns.columns-feature-card .button-container a.button {
    font-size: var(--font-size-200);
    line-height: 24px;
  }

  .columns.columns-feature-card .columns-feature-card-content:last-child {
    margin-bottom: var(--spacing-none);
  }
}

@media (768px <= width < 1024px) {
  .columns.columns-divider-variant > div > div:first-child > p {
    font-size: var(--font-size-600);
    line-height: 25px;
  }

  .columns.columns-transform-teaser .columns-img-col {
    right: -65px;
  }

}

@media (width < 768px) {
  .bg-primary-blue-90{
    margin: 150px 0;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser > div {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding: 0 0 20px;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser > div div:nth-child(1) {
    grid-row:2;
    margin-top: var(--spacing-medium);
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser > div div:nth-child(1) p:nth-child(1) {
    line-height:32px;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser > div div:nth-child(1) p:nth-child(4) {
    display: block;
    margin-bottom: 20px;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser .columns-img-col {
    position: relative;
    top: 0;
    right: 0;
    margin-top: -100px;
    margin-bottom: 40px;
  }

  html[dir="rtl"] .bg-primary-blue-90 .columns.columns-transform-teaser .columns-img-col {
    margin-top: -136px;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser .columns-img-col picture {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bg-primary-blue-90 .columns.columns-transform-teaser .columns-img-col img {
    width: 272px;
  }
}

@media (width >= 1024px) {
  .auto-image-container picture img {
    height: auto;
  }

  .columns.columns-feature-card > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, calc(33.3333% - 64px));
    column-gap: 96px;
    align-items: flex-start;
  }

  .columns.columns-feature-card > div > div {
    display: block;
  }

  .columns.columns-feature-card > div > div > p:first-child {
    font-size: var(--font-size-1000);
    line-height: 44px;
    min-height: 132px;
  }

  .columns.columns-feature-card .columns-feature-card-thumbnail {
    margin-bottom: var(--spacing-large);
  }

  .columns.columns-feature-card .button-container a.button {
    font-size: var(--font-size-300);
    line-height: 24px;
  }

  .columns.columns-divider-variant > div > div:last-child {
    padding-left: 48px;
    padding-right: unset;
  }
  
  html[dir="rtl"] .columns.columns-divider-variant > div > div:last-child {
    padding-right: 48px;
    padding-left: unset;
  }
}

.columns.columns-2-cols.column-layout-33-67 > div > div,
.columns.columns-2-cols.column-layout-67-33 > div > div,
.columns.columns-2-cols.column-layout-25-75 > div > div,
.columns.columns-2-cols.column-layout-75-25 > div > div {
    flex-basis: 100%;
    flex-direction: column;
}

@media (width >= 1024px) {
    .columns.columns-2-cols.column-layout-33-67 > div,
    .columns.columns-2-cols.column-layout-67-33 > div,
    .columns.columns-2-cols.column-layout-25-75 > div,
    .columns.columns-2-cols.column-layout-75-25 > div {
        flex-direction: row;
  }

  .columns.columns-2-cols.column-layout-33-67 > div > div:first-child,
  .columns.columns-2-cols.column-layout-67-33 > div > div:last-child {
    flex-basis: 33%;
  }
  
  .columns.columns-2-cols.column-layout-25-75 > div > div:first-child,
  .columns.columns-2-cols.column-layout-75-25 > div > div:last-child {
    flex-basis: 25%;
  }

  .columns.columns-2-cols.column-layout-25-75 > div > div:last-child,
  .columns.columns-2-cols.column-layout-75-25 > div > div:first-child {
    flex-basis: 75%;
  }
}

/* CSS starts for Image left and image right variation */

.columns.columns-image-left,
.columns.columns-image-right {
  /* stylelint-disable-next-line no-descending-specificity */
  & > div {
  align-items: flex-start;
  /* stylelint-disable-next-line no-descending-specificity */
  img {
    border-radius: var(--border-radius-medium);
  }
}
}

.columns.columns-image-right>div>div:nth-child(1),
.columns.columns-image-left>div>div:nth-child(2) {
  p:nth-child(1) {
    font-size: var(--font-size-200);
    line-height: 110%;
    margin: var(--spacing-none);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--neutral-solid-60-s);
    font-weight: 800;
  }

  p:nth-child(2) {
    margin-top: var(--size-icon-regular); 
    margin-bottom: var(--spacing-xlarge);
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-1000);
    line-height: 31px;
    text-transform: uppercase;
    color: var(--accent-blue-primary-90);

    strong {
      font-weight: 400;
    }
  }
}

.columns.columns-image-right>div>div:nth-child(2),
.columns.columns-image-left>div>div:nth-child(1) {
  p:nth-child(1) {
    margin-bottom: var(--spacing-small);
  }

  p:nth-child(2) {
    font-size: var(--font-size-200);
    font-weight: 400;
    line-height: 16.8px;
    margin-top: 0;
  }
}

html[dir="rtl"] .columns.columns-divider-variant > div > div:last-child {
  border-right: 2px solid  var(--neutral-solid-10-s);
  border-left-width: 0;
  padding-right: 28px;
  padding-left: unset;
}

.columns.columns-divider-variant > div > div:last-child ul{
padding-left: 22px;
}

.columns.columns-divider-variant>div>div:last-child ul li::marker {
  color: var(--neutral-solid-90-s);
}

html[dir="rtl"] .columns.columns-divider-variant > div > div:last-child ul{
  padding-right: 18px;
}

.columns.columns-image-left {

  /* stylelint-disable-next-line no-descending-specificity */
  &>div {
    flex-direction: column-reverse;
  }
}

@media (width >=768px) {
  .columns.columns-image-right,
  .columns.columns-image-left {
    &>div {
      align-items: center;
      flex-direction: row;
      gap: 40px;
    }
  }

  .columns.columns-image-right > div > div:nth-child(1) p:nth-child(2),
  .columns.columns-image-left > div > div:nth-child(2) p:nth-child(2){
    line-height: 36px;
  }
}

@media (width >=1024px) {
  .columns.columns-image-right, .columns.columns-image-left{
    &>div {
      gap: 80px;

    }
  }

  .columns.columns-image-right > div > div:nth-child(1) p:nth-child(2),
  .columns.columns-image-left > div > div:nth-child(2) p:nth-child(2){
    font-size: var(--font-size-1000);
    line-height: 44px;
  }
  
  .columns.columns-divider-variant > div {
    gap: 32px;
  }

}

@media (width >=768px) {
  .columns.columns-image-right,
  .columns.columns-image-left {
    &>div {
      align-items: center;
      flex-direction: row;
      gap: 40px;
    }
  }

@media (width >=1024px) {
  .columns.columns-image-right, .columns.columns-image-left {
    &>div {
      gap: 80px;
      
    }
  }
  
  .columns.columns-image-right > div > div:nth-child(1) p:nth-child(2),
  .columns.columns-image-left > div > div:nth-child(2) p:nth-child(2) {
        font-size: var(--font-size-1000);
        line-height: 44px;
  }
}
}

main .section.bg-default:first-child .default-content-wrapper p:has(picture){
  margin-bottom: 0;
 }
 

 @media(width <= 320px) {
  a.button:any-link, button
  {
    white-space: wrap;
  }
 }
