.organizational-cards.block {
    height: 560px;
    width: 1600px;
    display: flex;
    overflow: hidden;
    position: relative;
}

.organizational-cards.block .bg-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.organizational-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
    z-index: 3;
    background: linear-gradient(178.99deg, rgba(1, 39, 64, 0) 13.68%, #012740 79.86%);
}

.organizational-card.collapsed {
    padding: 340px var(--xlarge) 80px var(--xlarge);
    background: linear-gradient(178.99deg, rgba(1, 39, 64, 0) 13.68%, #012740 79.86%);
    width: 252px;
}

.organizational-card.collapsed > .card-mission, .card-link-wrapper {
    display: none;
    visibility: none;
}

.organizational-card .card-link {
    height: 24px;
    line-height: var(--size-24);
    font-size: var(--size-14);
    color: var(--color-white);
    text-decoration: underline rgba(0 73 114 30%);
    border-radius: unset;
    background-color: unset;
}