.organizational-cards.block {
  height: 560px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-around;
  padding-left: 32px;
  padding-right: 32px;
}

.organizational-cards.block .bg-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.organizational-cards.block .bg-wrapper img {
  max-width: unset;
  object-fit: cover;
  object-position: top left;
}

.organizational-cards.block .bg-wrapper > .bg-overlay {
  background: linear-gradient(178.99deg, rgba(1 39 64 / 0%) 13.68%, #012740 79.86%);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.organizational-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 386px;
  padding: 0 var(--spacing-32) 0 var(--spacing-32);
  max-width: 450px;
  height: 100%;
  z-index: 3;
  color: var(--color-white);
  font-weight: 700;
  text-align: left;
  transition: width 0.5s linear;
  background: rgba(1 39 64 / 90%);
  position: relative;
}

.organizational-card > .card-content-wrapper {
  height: fit-content;
  position: relative;
}

.organizational-card:not(last-child) {
  margin-right: 6px;
}

.organizational-card:not(first-child) {
  margin-left: 6px;
}

.organizational-card .expand-btn {
  display: none;
  visibility: hidden;
}

.organizational-card .expand-btn, .organizational-card .collapse-btn {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-blue-102);
  border: 1px solid var(--primary-blue-50);
  border-radius: 50%;
  cursor: pointer;
}

.organizational-card .collapse-btn {
  position: absolute;
  top: 8px;
  right: 0;
}



.organizational-card .expand-btn:hover, .organizational-card .collapse-btn:hover {
  background: var(--primary-blue-50);
  border: 1px solid var(--primary-blue-102);
}

.organizational-card .card-acronym {
  font-size: var(--heading-label-base);
  height: 46px;
  line-height: 46px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.organizational-card .card-title {
  font-size: var(--size-14);
  line-height: 17.5px;
  border-bottom: 2px solid var(--primary-blue-50);
  height: 60px;
  width: 100%;
}

.organizational-card .card-mission {
  font-size: var(--size-16);
  font-weight: 400;
  line-height: var(--size-24);
  min-height: 104px;
}

.organizational-card .card-link-wrapper {
  width: 100%;
}

.organizational-card > .card-link-wrapper > .button-container {
  padding-bottom: var(--spacing-80);
}

.organizational-card a.button.card-link {
  height: 24px;
  line-height: var(--size-24);
  font-size: var(--size-14);
  border-bottom: 2px solid rgba(255 255 255 / 24%);
  border-radius: unset;
  background-color: unset;
  padding: 0 0 var(--spacing-32) 0;
  margin: unset;
}

.organizational-card.collapsed {
  width: 188px;
  padding: 0 var(--spacing-32) 0 var(--spacing-32);
  background: unset;
}

.organizational-card.collapsed > .card-acronym {
  margin-top: 340px;
}

.organizational-card.collapsed > .card-title {
  height: fit-content;
  min-height: 81px;
  padding-bottom: var(--spacing-16);
  margin-bottom: var(--spacing-64);
}

.organizational-card.collapsed .card-mission, .organizational-card.collapsed .card-link-wrapper {
  display: none;
  visibility: hidden;
}

.organizational-card.collapsed .collapse-btn {
  display: none;
  visibility: hidden;
}

.organizational-card.collapsed .expand-btn {
  display: flex;
  visibility: visible;
  position: absolute;
  top: 8px;
  right: 0;
}

.left-justify-content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

@media (width < 1310px) {
  .organizational-card {
    width: 300px;
  }

  .organizational-card .card-acronym {
    font-size: var(--heading-label-tiny)
  }

  .organizational-card.collapsed {
    padding: 0 var(--spacing-16) 0 var(--spacing-16);
  }

  .organizational-card.collapsed .expand-btn {
    /*right: 16px;*/
  }


  .organizational-card.collapsed > .card-title {
    /*min-height: 136px;*/
  }

}

@media (width < 1024px) {
  .organizational-cards.block {
    width: 100%;
    height: fit-content;
    padding: 0 var(--spacing-32) 0 var(--spacing-32);
    background: var(--primary-blue-90);
    flex-direction: column;
  }
  
  .organizational-cards.block p {
    margin: unset;
    padding: unset;
  }
  
  .organizational-cards.block .bg-wrapper {
    display: none;
    visibility: hidden;
  }

  .organizational-card {
    max-width: 100%;
    width: 100%;
    display: inline-block;
    padding: unset;
  }

  .organizational-card:not(last-child) {
    border-bottom: 1px solid white;
  }

  .organizational-card:not(first-child), .organizational-card:not(last-child) {
    margin-left: unset;
    margin-right: unset;
  }

  .organizational-card:not(.collapsed) {
    padding-top: 32px;
    min-height: 224px;
    max-height: 224px;
  }

  .organizational-card .collapse-btn {
    top: 8px;
  }

  .organizational-card .expand-btn {
    display: none;
    visibility: hidden;
  }

  .organizational-card .card-acronym {
    display: inline-block;
    width: fit-content;
    font-size: var(--size-32);
    margin: 0 var(--spacing-12) var(--spacing-32) 0;
  }

  .organizational-card .card-title {
    display: inline-block;
    width: 85%;
    border-bottom: unset;
    height: fit-content;
    line-height: 19px;
  }

  .organizational-card .expand-btn:hover, .organizational-card .collapse-btn:hover {
    background: var(--primary-blue-50);
    border: 1px solid var(--primary-blue-102);
  }

  .organizational-card .card-mission {
    margin-bottom: var(--spacing-32);
  }

  .organizational-card .card-link-wrapper > .button-container {
    padding: unset;
  }

  .organizational-card a.button.card-link {
    padding: 0 0 var(--spacing-32) 0;
    margin: unset;
  }

  .organizational-card.collapsed {
    width: 100%;
    height: 114px;
    line-height: 114px;
    padding: unset;
    margin: unset;
  }

  /*
  .organizational-card.collapsed > .card-acronym {
    margin-top: unset;
  }

  .organizational-card.collapsed > .card-title {
    padding: unset;
    margin: unset;
  }
    */

  .organizational-card.collapsed .expand-btn {
    top: calc(50% - 16px);
    right: 0;
  }

}

@media (width < 768px) {
  .organizational-cards.block {
    width: 100%;
    padding: 0 var(--spacing-32) 0 var(--spacing-32);
    background: var(--primary-blue-90);
    flex-direction: column;
  }

  .organizational-card > .card-mission {
    margin: var(--spacing-8) 0 var(--spacing-8) 0;
  }

  .organizational-card .card-acronym {
    width: 100%;
    height: unset;
    line-height: unset;
    margin: unset;
  }

  .organizational-card.collapsed {
    height: unset;
    padding: var(--spacing-32) 0 var(--spacing-32) 0;
    line-height: unset;
    padding-top: 32px;
  }

  .organizational-card.collapsed > .card-content-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .organizational-card.collapsed .expand-btn {
    top: calc(50% - 16px);
  }

  .organizational-card .collapse-btn {

  }

  .organizational-card:not(.collapsed) {
    min-height: 224px;
    max-height: 224px;
  }

}