.curated-cards .feature-card {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.curated-cards .feature-card picture {
  display: flex;
  background: linear-gradient(1.27deg, var(--blue-90) 5.95%, #0127400f 52.78%);
}

.curated-cards .feature-card picture img {
  object-fit: cover;
  width: 100%;
  max-height: 700px; /* Maintain aspect ratio but with a maximum height */
  height: auto;
  z-index: -1;
}

.curated-cards .feature-card .feature-card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  color: var(--color-white);
  padding: 20px;
  box-sizing: border-box;
}

.curated-cards .feature-card .feature-card-content .feature-card-content-heading {
  font-size: var(--font-size-1100);
  margin: 0 0 10px;
  line-height: 58px;
  font-weight: 700;
}

.curated-cards .feature-card .feature-card-content button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  padding: 10px 20px;
  font-size: var(--font-size-300);
  width: 182px;
  height: 55px;
  background: var(--color-white);
  border-radius: 100px;
  color: var(--blue-70);
}

.curated-cards.list {
  background-color: var(--blue-90);
  border-radius: 0 0 10px 10px;
  padding: 25px;
  padding-block-start: 0;
  margin-top: -3px;
}

.curated-cards.list .curated-cards-line-div {
  display: flex;
  align-items: center;
  padding-block-end: 40px;
  gap: 16px;
}

.curated-cards.list .curated-cards-line-div .line-text {
  color: var(--text-on-dark-emphasys, #FFFFFFE5);
  padding-left: 10px;
  font-size: 12px;
  font-weight: 700;
}

.curated-cards.list .curated-cards-line-div .line {
  height: 2px;
  width: calc(100% - 140px);
  background: #FFFFFF3D;
  margin: 0 auto;
}

.curated-cards.list ul {
  display: grid;
  padding: 0 10px;
  margin-top: 0;
  margin-bottom: 20px;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.curated-cards.list ul li {
  display: grid;
  grid-template-columns: minmax(30%, 160px) 1fr;
  padding: 0;
  gap: 28px;
}

.curated-cards.list ul li img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.curated-cards.list ul li .curated-cards-card-text-wrapper p {
  margin: 0;
  font-weight: 700;
  font-size: var(--font-size-300);
  line-height: 140%;
  color: var(--color-white); 
}

.curated-cards.list ul li .curated-cards-card-text-wrapper a{
  text-decoration: none;
}

.curated-cards.list ul li .curated-cards-card-text-wrapper .curated-cards-card-event {
  font-weight: 700;
  font-size: var(--font-size-100);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--neutral-solid-40-s);
  margin-top: 15px;
}

@media (width < 1024px) {
  .curated-cards .feature-card picture img {
    max-height: 443px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-heading {
    line-height: 43px;
    font-size: 36px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-description {
    font-size: 18px;
    line-height: 25px;
  }

  .curated-cards .feature-card .feature-card-content button {
    position: static;
  }

  .curated-cards.list ul {
    grid-template-columns: 1fr;
  }

  .curated-cards.list ul li {
    grid-template-columns: minmax(15%, 144px) 1fr;
  }
}

@media (width < 768px) {
  .curated-cards .feature-card picture img {
    max-height: 411px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-heading {
    line-height: 29px;
    font-size: 24px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-description {
    font-size: 16px;
    line-height: 22px;
  }

  .curated-cards.list ul {
    grid-template-columns: 1fr;
  }

  .curated-cards.list ul li {
    grid-template-columns: 84px 1fr;
  }
}
