.curated-cards .feature-card {
  position: relative;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.curated-cards .feature-card picture {
  display: flex;
  background: linear-gradient(1.27deg, var(--accent-blue-primary-90) 5.95%, #0127400f 52.78%);
}

.curated-cards .feature-card picture img {
  object-fit: cover;
  width: 100%;
  max-height: 700px; /* Maintain aspect ratio but with a maximum height */
  height: auto;
  z-index: -1;
}

.curated-cards.list ul li a {
  display: grid;
  grid-template-columns: minmax(30%, 160px) 1fr;
  padding: 0;
  gap: var(--spacing-regular);
  text-decoration: none;
}

.curated-cards .feature-card .feature-card-content {
  display: flex;
  position: absolute;
  bottom: var(--spacing-xlarge);
  left: var(--spacing-xxlarge);
  width: calc(100% - 2 * var(--spacing-xxlarge));
  color: var(--white);
  box-sizing: border-box;
}

.curated-cards .feature-card .feature-card-content .feature-card-content-text {
  width: 80%;
}

.curated-cards .feature-card .feature-card-content .feature-card-content-text a {
  text-decoration: none;
  display: block;
}

.curated-cards .feature-card .feature-card-content .feature-card-content-description {
  font-size: var(--font-size-500);
  color: var(--text-on-dark-emphasis);
}

.curated-cards .feature-card .feature-card-content .feature-card-content-text .feature-card-content-description {
  margin: 0;
  line-height: 125%;
}

.curated-cards .feature-card .feature-card-content .feature-card-link {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  text-decoration: none;
}

.curated-cards .feature-card .feature-card-content .feature-card-content-heading {
  color: var(--text-on-dark-emphasis);
  margin: 0 0 var(--spacing-small);
  line-height: 58px;
  font-size: var(--font-size-1100);
  font-weight: var(--font-weight-700);
}

.curated-cards .feature-card .feature-card-content .feature-card-content-heading:hover {
  color: var(--global-interactive-on-dark-hover);
}

.curated-cards.list {
  background-color: var(--accent-blue-primary-90);
  border-radius: 0 0 10px 10px;
  padding: var(--spacing-xxlarge);
  padding-block-start: 0;
  margin-top: -3px;
}

.curated-cards.list .curated-cards-line-div {
  display: flex;
  align-items: center;
  padding-block-end: var(--spacing-large);
  gap: 16px;
}

.curated-cards.list .curated-cards-line-div .line-text {
  color: var(--text-on-dark-emphasis, var(--gray-alpha-white-90-a));
  font-size: var(--font-size-100);
  white-space: nowrap;
  font-weight: var(--font-weight-700);
}

.curated-cards.list .curated-cards-line-div .line {
  height: 2px;
  width: calc(100% - 130px);
  background: var(--gray-alpha-white-24-a);
  margin: 0 auto;
}

.curated-cards.list ul {
  display: grid;
  padding: 0;
  margin: 0;
  gap: var(--spacing-medium);
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
}

.curated-cards.list ul li .curated-cards-card-text-wrapper p {
  margin: 0;
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-300);
  line-height: 20px;
  color: var(--text-on-dark-emphasis);
}

.curated-cards.list ul li a:hover .curated-cards-card-text-wrapper p {
  color: var(--global-interactive-on-dark-hover);
}

.curated-cards.list ul li img {
  object-fit: cover;
  border-radius: 5px;
  width: 100%;
  height: auto;
  transition: transform .2s;
}

.curated-cards.list ul li a:hover img {
  transform: scale(1.15);
}

.curated-cards.list ul li .curated-cards-card-text-wrapper .curated-cards-card-event {
  font-weight: var(--font-weight-700);
  font-size: var(--font-size-100);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-on-dark-subdued);
  margin-top: 15px;
  line-height: 16px;
}

@media (width < 1024px) {
  .curated-cards .feature-card .feature-card-content {
    flex-direction: column;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-text {
    width: 100%;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-link {
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
  }

  .curated-cards .feature-card .feature-card-content button {
    height: 48px;
  }

  .curated-cards .feature-card picture img {
    max-height: 443px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-heading {
    line-height: 43px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-description {
    font-size: 18px;
    line-height: 25px;
  }

  .curated-cards.list ul {
    grid-template-columns: 1fr;
  }

  .curated-cards.list ul li {
    grid-template-columns: minmax(15%, 144px) 1fr;
  }
}

@media (width < 768px) {
  .curated-cards .feature-card picture img {
    min-height: 431px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-heading {
    line-height: 29px;
  }

  .curated-cards .feature-card .feature-card-content .feature-card-content-description {
    font-size: 16px;
    line-height: 22px;
  }

  .curated-cards.list ul {
    grid-template-columns: 1fr;
  }

  .curated-cards.list ul li {
    grid-template-columns: 84px 1fr;
  }
  
  .curated-cards.list ul li a {
    grid-template-columns: minmax(20%, 84px) 1fr;
  }
}
