.teaser-wrapper {
    .teaser-container {
        display: flex;
        flex-direction: row-reverse;
        width: 100%;
        height: 538px;
        position: relative;
        align-items: center;
    }

    .inactive {
        display: none;
        visibility: hidden;
    }

    .background-image, .video-container {
        width: 100%;
        position: absolute;
        height: 482px;

        .video-play, .video-pause {
            width: 34px;
            height: 34px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 20px;
            left: 20px;
            background: var(--primary-blue-100);
            color: white;
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
            z-index: 2;

            &:hover {
                border: 1px solid white;
            }

            .controls {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg) brightness(120%) contrast(100%);
            }
            
            .pause-icon {
                height: 32px;
            }
        }
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top left;
        border-radius: 10px;
    }

    .teaser-background {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .teaser-title-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
        width: 70%;
    }

    .teaser-title {
        font-family: var(--body-font-family);
        font-size: var(--heading-font-size-l);
        color: white;
        text-align: center;
        padding-top: 15%;
    }

    .button-container {
        border-radius: 100px;
        padding: 15px 32px 32px 18px;

        .button {
            width: 137px;
            height: 55px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            font-size: var(--body-font-size-m);

            &.dark-bg {
                background-color: var(--color-white);
                color: var(--primary-blue-100);

                &:focus {
                    background-color: var(--primary-blue-20);
                    border: 1px solid var(--primary-blue-80);
                }

                &:hover {
                    border: 1px solid var(--primary-blue-50);
                }
            }

            &.dark-bg-ul {
                background-color: var(--color-white);
                color: var(--primary-blue-100);
                text-decoration: underline var(--primary-blue-100);

                &:focus {
                    background-color: var(--primary-blue-20);
                    border: 1px solid var(--primary-blue-80);
                }

                &:hover {
                    border: 1px solid var(--primary-blue-50);
                }
            }

            &.light-bg-1 {
                background-color: var(--primary-blue-80);
                color: var(--color-white);

                &:focus {
                    background-color: var(--primary-blue-100);
                    color: var(--color-white);
                }

                &:hover {
                    background-color: var(--primary-blue-50);
                    color: var(--color-black);
                }
            }

            &.light-bg-2 {
                background-color: rgb(255 255 255 / 0%);
                color: var(--primary-blue-100);
                border: 1px solid var(--primary-blue-80);

                &:focus {
                    border: 1px solid var(--color-black);
                    color: var(--color-black);
                    background-color: var(--primray-blue-50);
                }

                &:hover {
                    border: 1px solid var(--color-black);
                }
            }

            &.light-bg-ul {
                background-color: var(--primary-blue-80);
                color: var(--primary-blue-100);
                text-decoration: underline var(--color-white);

                &:focus {
                    background-color: var(--primary-blue-100);
                    color: var(--color-white);
                }

                &:hover {
                    background-color: var(--primary-blue-50);
                    color: var(--color-black);
                }
            }
        }
    }

    .teaser-swoosh-wrapper {
        width: 595px;
        height: 595px;
        margin-right: 32px;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .swoosh-layers {
        position: relative;
        width: 100%;
        height: 518px;
        overflow: visible;

        .swoosh {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            transform: translate(-50%, -50%);
            object-fit: contain;
            max-width: unset;

            &.first {
                height: 538px;
                z-index: 2;
                opacity: 0.95;
            }

            &.second {
                z-index: 3;
                height: auto;
                width: 616px;
                opacity: 0.5;
            }
        }
    }

    .swoosh-bg {
        border-radius: 50%;
        background-color: var(--primary-blue-80);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        height: 85%;
        z-index: 1;
        position: absolute;
        opacity: 0.95;
    }

}

@media (width <=1024px) {
    .teaser-wrapper {
        .teaser-swoosh-wrapper {
            margin-right: 16px;
        }

        .teaser-title {
            padding: 19% 12% 0;
        }

    }
}

@media (width <=768px) {
    .teaser-wrapper {
        margin-top: 20px;

        .teaser-swoosh-wrapper {
            margin-right: unset;
            width: 90vw;
            height: 90vw;
        }

        .swoosh-layers {
            height: 100%;
        }

        .swoosh.first {
            width: 85vw;
            height: auto;
        }

        .swoosh.second {
            display: none;
            visibility: hidden;
        }

        .teaser-container {
            justify-content: center;
        }

        .teaser-title-wrapper {
            margin-top: 1.5%;
        }

        .teaser-title {
            font-size: 5vw;
        }

        .video-container {
            display: none;
            visibility: hidden;
        }

        .background-image {
            display: none;
            visibility: hidden;
        }

        .button {
            width: 100%;
        }

        .button-text {
            font-size: 3.5vw;
        }

    }

}
