.teaser-wrapper {
    .teaser-container {
        display: flex;
        width: 100%;
        height: 538px;
        position: relative;
        align-items: center;
    }
    .background-image {
        width: 100%;
        position: absolute;
        height: 84%;
    }
    .teaser-background {
        height: 100%;
        width: 100%;
        position: relative;
    }
    .teaser-swish-wrapper {
        width: 518px;
        left: 60%;
        position: relative;
        display: flex;
        align-items: center;
        align-content: center;
    }
    .teaser-swish {
        object-fit: cover;
        background-color: #004370;
        border-radius: 250px;
    }
    .teaser-title-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 4;
    }
    .teaser-title {
        font-family: var(--body-font-family);
        font-size: var(--h1-font-size-s);
        color: white;
        text-align: center;
        padding-top: 15%;
    }
    .button-container {
        border-radius: 100px;
        padding: 15px 32px 32px 18px;
    }
    .button {
        width: 137px;
        height: 55px;
        display: flex;
        align-items: center;
    }
    .button.white {
        background-color: white;
        color: #004370;
    }
    .swoosh-layers {
        position: relative;
        width: 100%;
        height: 518px;
        overflow: visible;
        .swoosh {
            position: absolute;
            top: 50%;
            left: 50%;
            width: auto;
            transform: translate(-50%, -50%);
            object-fit: contain;
            max-width: unset;
            &.first {
                height: 538px;
                z-index: 2;
            }
            &.second {
                z-index: 3;
                height: auto;
                width: 580px;
            }
        }
    }
    .swoosh-bg {
        border-radius: 50%;
        background-color: #004370;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 70%;
        height: 70%;
        z-index: 1;
    }

}