.teaser-wrapper .teaser-container {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 538px;
    position: relative;
    align-items: center;
}

.teaser-wrapper .inactive {
    display: none;
    visibility: hidden;
}

.teaser-wrapper .background-image, .teaser-wrapper .video-container {
    width: 100%;
    position: absolute;
    height: 482px;
}

.teaser-wrapper .video-container .video-play-btn, .teaser-wrapper .video-container .video-pause-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: var(--accent-blue-primary-90);
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    border: 2px solid transparent;
}

.video-container .video-play:hover, .video-container .video-pause:hover {
    border-color: var(--global-interactive-on-dark-hover);
}

html[dir="rtl"] .teaser-wrapper .video-container .video-play .video-play-btn,
html[dir="rtl"] .teaser-wrapper .video-container .video-pause .video-pause-btn{
    right: 20px;
    left: unset;
}

.video-container .video-play .controls, .video-container .video-pause .controls {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg) brightness(120%) contrast(100%);
}
    
.video-container .video-pause .controls.pause-icon {
    height: 34px;
}
    
.teaser-wrapper video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top left;
    border-radius: 10px;
}

.teaser-wrapper .teaser-background {
    height: 100%;
    width: 100%;
    position: relative;
    border-radius: 10px;
}

.teaser-wrapper .teaser-title-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 72%;
}

.teaser-wrapper .teaser-title {
    font-family: var(--body-font-family);
    font-size: var(--font-size-1000);
    color: white;
    text-align: center;
    padding-top: 15%;
    text-transform:uppercase;
    font-weight: normal;
    margin: 0;
    line-height: 1.4;
}

html[lang="ru"] .teaser-wrapper .teaser-title {
    padding: 0;
    font-size: 1.5rem;
    max-width: 275px;
}


.teaser-wrapper .button-container {
    padding: 15px 0 32px;
}

html[lang="ru"] .teaser-wrapper .button-container {
    padding: 0;
}

html[lang="ru"] .teaser-wrapper .button-container > a {
    margin-bottom: 0;
}

.teaser-wrapper .teaser-swoosh-wrapper {
    width: 595px;
    height: 595px;
    margin-right: 32px;
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
}

.teaser-wrapper .swoosh-layers {
    position: relative;
    width: 100%;
    height: 518px;
    overflow: visible;
}

.teaser-wrapper .swoosh-layers .swoosh {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translate(-50%, -50%);
    object-fit: contain;
    max-width: unset;
}

.teaser-wrapper .swoosh-layers .swoosh.first {
    height: 538px;
    z-index: 2;
    opacity: 0.95;
}

.teaser-wrapper .swoosh-layers .swoosh.second {
    z-index: 3;
    height: auto;
    width: 616px;
    opacity: 0.5;
}

.teaser-wrapper .swoosh-bg {
    border-radius: 50%;
    background-color: var(--accent-blue-primary-70);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
    height: 85%;
    z-index: 1;
    position: absolute;
    opacity: 0.95;
}

@media (width < 1024px) {
    .teaser-wrapper .teaser-swoosh-wrapper {
        margin-right: 16px;
    }

    .teaser-wrapper .teaser-title {
        padding: 19% 12% 0;
    }
    
    .teaser-wrapper .teaser-title-wrapper {
     width: 60%;
    }
}

@media (width < 768px) {
    .teaser-wrapper {
        margin-top: 20px;
    }

    .teaser-wrapper .teaser-swoosh-wrapper {
        margin-right: unset;
        width: 90vw;
        height: 90vw;
    }

    .teaser-wrapper .swoosh-layers {
        height: 100%;
    }

    .teaser-wrapper .swoosh.first {
        width: 85vw;
        height: auto;
    }

    .teaser-wrapper .swoosh.second {
        display: none;
        visibility: hidden;
    }

    .teaser-wrapper .teaser-container {
        justify-content: center;
    }

    .teaser-wrapper .teaser-title-wrapper {
        margin-top: 1.5%;
        width: 70%;
    }

    .teaser-wrapper .teaser-title {
        font-size: 5vw;
    }

    .teaser-wrapper .video-container {
        display: none;
        visibility: hidden;
    }

    .teaser-wrapper .background-image {
        display: none;
        visibility: hidden;
    }

    .teaser-wrapper .button {
        width: 100%;
    }

    .teaser-wrapper .button-text {
        font-size: 3.5vw;
    }

    .teaser-wrapper .button-container {
        padding: 15px 0 32px;
    }

}

@media (width <= 390px) {
    main .section > div.teaser-wrapper {
        padding: 0;
        margin-top: 0;
    }
    
    .teaser-wrapper {
        padding: 0;
    }
    
    .teaser-wrapper .teaser-title {
        font-size: 22px;
    }

    .teaser-wrapper > .teaser.block > .teaser-container {
        height: 471px;
        width: auto;
        overflow: hidden;
    }

    .teaser-wrapper > .teaser.block > .teaser-container > .teaser-swoosh-wrapper {
        height: 100%;
        width: 100%;
        margin-left: -13.5px;
    }

    .teaser-wrapper > .teaser.block > .teaser-container > .teaser-swoosh-wrapper > .swoosh-layers {
        margin-left: -2.5px;
    }

    .teaser-wrapper > .teaser.block > .teaser-container > .teaser-swoosh-wrapper > .swoosh-bg {
        height: 410px;
        width: 410px;
        margin-left: -2.5px;
    }

    .teaser-wrapper .swoosh-layers > .swoosh.first {
        height: 425px;
        width: 425px;
    }
    
}
