
.tab-navigation {
  position: relative;
  margin: 0;
  padding: 0;
}

.tab-navigation .tabs-list .tab-menu {
  display: flex;
  list-style: none;
  white-space: nowrap;
  scroll-behavior: smooth;
  user-select: none;
  overflow-x: auto;
  padding: 0;
  margin: 0;
  gap: 28px;
  border-bottom: 2px solid var(--neutral-solid-10-s);
}

.tab-menu::-webkit-scrollbar {
  display: none;
} 

.tab-navigation .tabs-list .tab-btn {
  background-color: transparent;
  padding: 0 1px;
  color: var(--background-container-on-light-link-primary-enabled);
  border-radius: 0;
  border-bottom: 5px solid transparent;
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
  padding-bottom: var(--spacing-xsmall);
}

.tab-navigation .tabs-list .tab-btn[aria-selected='true']{
  border: 0;
  border-bottom: 5px solid #00ADE4;
  cursor: initial;
  line-height: 140%;
} 

.tab-navigation .tabs-list .left-btn,
.tab-navigation .tabs-list .right-btn {
  position: absolute;
  cursor: pointer;
  display: none;
  background: var(--white); 
  color: var(--accent-blue-primary-70); 
  margin: 0;
  border-radius: 0;
  border: 0;
  padding: 0 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}

.tab-navigation .tabs-list .left-btn {
  left: 0;
}

.tab-navigation .tabs-list .right-btn {
  right: 0;
  text-align: right;
}

/* tabs-panel starts here */

.tabs .tabs-panel {
  width: 100%;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.tabs .tabs-panel main .section > div {
  padding: 0;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

.tabs-wrapper {
  z-index: 12;
  position: relative;
  margin-top: 0;
}

.tab-li-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0 0;
  border-top: 2px solid var(--neutral-solid-10-s);
}

.tabs .tabs-panel .tab-li-element:first-child {
  margin-top: var(--global-gutter);
  border-top: none ;
}

.tab-li-element  a {
  text-decoration: none;
}

.tab-li-element  .tab-li-element-type {
  font-weight: 700;
  font-size: var(--font-size-100);
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-bottom: 4px;
  color: var(--neutral-solid-60-s);
}

.tab-li-element .tab-li-element-heading {
  font-weight: 700;
  font-size: var(--font-size-500);
  line-height: 120%;
  color: var(--text-on-light-link-primary-enabled);
}

.tab-li-element .tab-li-element-date {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-200);
  line-height: 150%;
  color: var(--neutral-solid-90-s);  
}

.tabs-panel .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tabs-panel .spinner-container .spinner {
  border: 3px solid var(--neutral-solid-10-s);
  border-top: 3px solid #00ADE4; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

