
.tabs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tabs .tabs-list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  gap: 30px;
  border-bottom: 2px solid var(--neutral-solid-10-s);
}

.tabs .tabs-list::-webkit-scrollbar {
  display: none; 
}

.tabs .tabs-list .tabs-tab {
  background-color: transparent; /* Set background as transparent */
  padding: 0 1px;
  transition: color 0.2s;
  color: var(--accent-blue-primary-70);
  border-radius: 0;
  border-bottom: 5px solid transparent;
  margin: 0;
}

.tabs .tabs-list .tabs-tab[aria-selected="true"]{
  color: var(--neutral-solid-90-s);
  border: 0;
  border-bottom: 5px solid #00ADE4;
  cursor: initial;
  line-height: 140%;
}

.tabs .tabs-list .tabs-tab p{
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}


.tabs .tabs-panel {
  width: 100%;
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.tabs .tabs-panel main .section > div {
  padding: 0;
}

.tabs .tabs-panel[aria-hidden="true"] {
  display: none;
}

.tabs-wrapper {
  z-index: 12;
  position: relative;
  margin-top: 0;
}

.tab-li-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding: 0 0 20px;
  border-bottom: 2px solid var(--neutral-solid-10-s);
}

.tabs .tabs-panel .tab-li-element:first-child {
  margin-top: 32px;
}

.tab-li-element  a {
  text-decoration: none;
}

.tab-li-element  .tab-li-element-type {
  font-weight: 700;
  font-size: var(--font-size-100);
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--neutral-solid-60-s);
}

.tab-li-element .tab-li-element-heading {
  font-weight: 700;
  font-size: var(--font-size-500);
  line-height: 120%;
  color: var(--accent-blue-primary-70);
}

.tab-li-element .tab-li-element-date {
  font-style: normal;
  font-weight: 400;
  font-size: var(--font-size-200);
  line-height: 150%;
  color: var(--neutral-solid-90-s);  
}

.tabs-panel .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tabs-panel .spinner-container .spinner {
  border: 3px solid var(--neutral-solid-10-s);
  border-top: 3px solid #00ADE4; 
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

