/* hide the block completely */
.live-now-container {
  display: none;
  visibility: hidden;
}

dialog.livenow-modal::backdrop {
  background-color: var(--accent-blue-primary-90);
  opacity: 0.9;
}

dialog.livenow-modal:modal {
  max-width: 1208px;
  width: 90%;
  height: 504px;
  padding: unset;
  overflow: visible;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight-700);
}

dialog.livenow-modal:modal .modal-content-wrapper {
    display: flex;
    flex-direction: row;
    margin: 48px;
}

dialog.livenow-modal:modal button[name="close"] {
  position: absolute;
  height: 48px;
  width: 48px;
  background-color: var(--accent-blue-primary-40);
  border-radius: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  top: -40px;
  right: 24px;
  padding: unset;
  border: none;
}

dialog.livenow-modal:modal button[name="close"]:hover {
  background-color: var(--accent-blue-primary-30);
  border: 2px solid var(--accent-blue-primary-40);
}

dialog.livenow-modal:modal button[name="close"]:focus {
  border: unset;
  border: 2px solid var(--accent-blue-primary-70);
}

html[dir="rtl"] dialog.livenow-modal:modal button[name="close"] {
  right: unset;
  left: 24px;
}

dialog.livenow-modal:modal .close-x {
  height: 14px;
}

dialog.livenow-modal:modal .modal-title {
  display: flex;
  border-bottom: 2px solid var(--neutral-solid-10-s);
  padding-bottom: 40px;
}

dialog.livenow-modal:modal .modal-title img {
  height: 33px;
  width: 52px;
  margin-right: 8px;
}

dialog.livenow-modal:modal .event-title .wblive-header img {
  margin-right: 8px;
  width: 26px;
  height: 33px;
}

html[dir="rtl"] dialog.livenow-modal:modal .modal-title img {
  margin-right: unset;
  margin-left: 8px;
}

dialog.livenow-modal:modal .modal-title .modal-title-txt {
  font-size: 28px;
  line-height: 33.6px;
  color: var(--red-50);
}

dialog.livenow-modal:modal .event-title {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

dialog.livenow-modal:modal .event-title .wblive-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

dialog.livenow-modal:modal .modal-column-right .join-event-btn .event-play img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(313deg) brightness(200%) contrast(100%);
  height: 16px;
  margin-left: 2px;
}

html[dir="rtl"] dialog.livenow-modal:modal .event-title .wblive-header img {
  margin-right: unset;
  margin-left: 8px;
}

dialog.livenow-modal:modal .event-title .wblive-header-txt {
  font-size: 14px;
  line-height: 15.4px;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--neutral-solid-90-s);
  margin-bottom: 8px;
}

dialog.livenow-modal:modal .event-title .event-title-txt {
  color: var(--accent-blue-primary-70);
  font-size: 36px;
  line-height: 44px;
  text-decoration: none;
}

dialog.livenow-modal:modal .event-title .event-title-txt:hover {
  color: var(--global-interactive-on-dark-hover)
}

dialog.livenow-modal:modal .modal-column-left {
  height: 312px;
  width: 417px;
  margin-right: 48px;
}

dialog.livenow-modal:modal .modal-column-right {
  width: 100%;
  max-width: 580px;
  height: 336px;
  position: relative;
}
  
dialog.livenow-modal:modal .modal-column-right img.event-thumbnail {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

dialog.livenow-modal:modal .modal-column-right .join-event-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
  height: 70px;
  padding: 0 10px;
  border-radius: 100px;
  background-color: var(--white);
  text-decoration: none;
}

dialog.livenow-modal:modal .modal-column-right .join-event-btn:hover {
  border: 2px solid var(--accent-blue-primary-40);
}

dialog.livenow-modal:modal .modal-column-right .join-event-btn:focus {
  border: 1px solid var(--accent-blue-primary-70);
  background-color: var(--accent-blue-primary-10);
}

dialog.livenow-modal:modal .modal-column-right .join-event-btn .event-play {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: var(--red-50);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}

html[dir="rtl"] dialog.livenow-modal:modal .modal-column-right .join-event-btn .event-play {
  margin-right: unset;
  margin-left: 24px;
}

dialog.livenow-modal:modal .modal-column-right .join-event-btn .join-btn-txt {
  color: var(--accent-blue-primary-70);
  font-family: var(--heading-font-family);
  font-size: 16px;
  font-weight: var(--font-weight-700);
  white-space: nowrap;
}

dialog.livenow-modal:modal &::before {
  content: "";
  display: block;
  height: 24px; /* Adds 24px of space above the dialog */
  width: 100%;
  position: absolute;
  top: -24px;
  left: 0;
  background: transparent; /* Keeps it invisible */
}

@media (width <=1024px) {
  dialog.livenow-modal:modal {
    max-width: 648px;
    max-height: 674px;
    height: 85%;
  }

  dialog.livenow-modal:modal .modal-content-wrapper {
      flex-direction: column;
      width: 100%;
  }

  dialog.livenow-modal:modal .modal-column-left {
    max-height: 220px;
    height: 40%;
    width: 100%;
    margin-right: unset;
    margin-bottom: 24px;
  }

  dialog.livenow-modal:modal .modal-column-right {
    max-height: 306px;
    height: 60%;
    width: 100%;
  }

  dialog.livenow-modal:modal .modal-column-right .join-event-btn {
    height: 64px;
    min-width: 162px;
  }

  dialog.livenow-modal:modal .modal-column-left .modal-title {
    padding-bottom: 24px;
  }

  dialog.livenow-modal:modal .modal-column-left .modal-title .modal-title-txt {
    font-size: 24px;
    line-height: 28px;
  }

  dialog.livenow-modal:modal .modal-column-left .event-title {
      margin-top: 24px;
  }

  dialog.livenow-modal:modal .modal-column-left .event-title .event-title-txt {
    font-size: 28px;
    line-height: 32px;
  }
}

@media (width <=768px) {
  dialog.livenow-modal:modal {
    max-width: 334px;
    max-height: 536px;
  }

  dialog.livenow-modal:modal .modal-content-wrapper {
      flex-direction: column;
      width: 100%;
      height: 90%;
      margin: 32px;
  }

  dialog.livenow-modal:modal .modal-column-left {
    max-height: 288px;
    height: 60%;
    width: 100%;
    margin-right: unset;
    margin-bottom: 12px;
  }

  dialog.livenow-modal:modal .modal-column-right {
    max-height: 157px;
    height: 40%;
    width: 100%;
  }

  dialog.livenow-modal:modal .modal-column-right .join-event-btn {
    height: 56px;
    min-width: 154px;
  }

  dialog.livenow-modal:modal .modal-title {
    padding-bottom: 32px;
  }

  dialog.livenow-modal:modal .modal-title .modal-title-txt {
    font-size: 24px;
    line-height: 28px;
  }

  dialog.livenow-modal:modal .event-title {
    margin-top: 32px;
    max-height: 189px;
    width: 100%;
  }

  dialog.livenow-modal:modal .event-title .event-title-txt {
    font-size: 28px;
    line-height: 32px;
  }
}
