/* stylelint-disable-next-line no-empty-source */
.list-container ul{ 
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    padding: 0;
    gap: 20px;
    margin: 0;
}

.leader-item{
    display: flex;
    flex-direction: column;
    gap: 10px;  
    border-bottom: 2px solid var(--neutral-solid-10-s);
    padding: 0 0 28px;
    width: 100%;
}

@media (width >= 768px) {
    .leader-item{
        flex-direction: row;
    }

    .leader-item a{
        width: 50%;
    }

    .leader-item .leader-title{
        width: 50%;
        text-align: right; /* Aligns text to the right */
    }

}

.leader-item p{
    padding: 0;
    margin: 0;
}

.leader-item a{
    text-decoration: none;
}

.leader-item .leader-name{
    font-weight: 700;
    font-size: var(--default);
    line-height: 120%;
    color: var(--text-on-light-link-primary-enabled);
}

html:lang(ar) .leader-item .leader-name{
    text-align: right;
}

.leader-item .leader-title{
    font-weight: 400;
    font-size: var(--eyebrow-font-size-l);
    line-height: 140%;
    letter-spacing: -0.02em;
    color: var(--neutral-solid-90-s);
}
