.list-container ul { 
    display: flex;
    flex-direction: column;
    list-style-type: none; 
    padding: 0;
    gap: var(--spacing-regular);
    margin: 0;
}

.leader-item {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid var(--neutral-solid-10-s);
    padding: 0 0 var(--spacing-large) 0;
    width: 100%;
}

.leader-item p {
    padding: 0;
    margin: 0;
}

.leader-item a {
    text-decoration: none;
}

.leader-item .leader-title {
    font-weight: 400;
    font-size: var(--font-size-300);
    line-height: 22px;
    letter-spacing: -0.02em;
    color: var(--text-on-light-emphasis);
}

.leader-item a .leader-name {
    font-weight: var(--font-weight-700);
    font-size: var(--font-size-600);
    line-height: 24px;
    text-align: justify;
    color: var(--text-on-light-link-primary-enabled);
}

.leader-item a:hover .leader-name {
    color: var(--global-interactive-on-dark-focused);
}

@media (width >= 768px) {
    .leader-item {
        flex-direction: row;
    }

    .leader-item a {
        width: 50%;
    }

    .leader-item .leader-title {
        width: 50%;
        text-align: right; /* Aligns text to the right */
        line-height:  20px;
    }

    .leader-item a .leader-name {
        line-height: 25px;
    }
}

@media (width >= 1024px) {
    .leader-item a .leader-name {
        line-height: 30px;
    }
}
