/* Base Styles */
.signup-wrapper {
  border-radius: 8px;
  margin: 0 auto;
}

.signup-heading {
  font-size: var(--heading-label-base);
  line-height: 30.8px;
  text-align: left;
}

.signup-description {
  font-size: var(--body-medium);
  line-height: 22.4px;
  text-align: left;
  letter-spacing: -0.02em;
}

input[type="email"],
input[type="text"] {
  padding: 17px 0 17px 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #4C809C;
  font-size: var(--body-small);
  width: 100%;
  color: #000D1AB2
}

.checkbox-group {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  align-items: start;
  font-size: var(--body-tiny);
}

input[type="checkbox"] {
  border: 1.5px solid #00396B3D;
  height: 20px;
  width: 20px;
}

input::placeholder {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000D1A91;
  font-size: var(--body-medium);
}

input:focus::placeholder,
input:not(:placeholder-shown)::placeholder {
  transform: translateY(-150%);
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}

.checkbox-group label p {
  margin: 0;
}

.checkbox-group label p a {
  font-size: var(--body-tiny);
}

/* input[type='checkbox'] {
  margin-top: 7px;
} */


button#signup-btn,
button#signup-btn-desktop {
  font-size: var(--body-medium);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  height: 52px;
  gap: 12px;
  justify-content: center;
}

button#signup-btn .icon,
button#signup-btn-desktop .icon {
  background-image: url('../../icons/subscribe.png');
  background-repeat: no-repeat;
  background-position: center;
}

button#signup-btn-desktop {
  display: none;
}

.error-message {
  color: red;
  font-size: var(--body-tiny);
  margin-top: 10px;
  background-image: url("../../icons/exclamation.png");
  background-repeat: no-repeat;
  padding-left: 14px;
  
}


.input-error {
  border: 1px solid red;
  background-color: #FDF2F2;
}


/* Tablet Styles */
@media (width >=768px) {
  .signup-wrapper {
    padding: 40px;
  }

  .signup-description {
    margin-bottom: 30px;
  }

  .signup-heading {
    font-size: var(--heading-label-base);
    line-height: 44.8px;
    text-align: left;
    margin-bottom: 10px;
  }

  input[type="email"],
  input[type="text"] {
    padding: 16px;
    font-size: var(--eyebrow-font-size-l);
    border: 1px solid #00396B3D;
    margin-right: 0;
  }

  button#signup-btn {
    display: none;
  }

  button#signup-btn-desktop {
    display: flex;
    font-size: var(--eyebrow-font-size-l);
    margin: 0;
    overflow: visible;
    border-radius: 0 50px 50px 0;
    text-align: center;
  }

  .input-group {
    display: flex;
  }

  input[type="email"] {
    border-radius: 50px 0 0 50px;
  }

  input[type="text"] {
    border-radius: 0;
  }

  input[type='checkbox'] {
    margin-top: 4px;
  }

  .checkbox-group label p {
    font-size: var(--body-medium);
  }

  .checkbox-group label p a {
    font-size: var(--body-medium);
  }
}

@media (width >=1024px) {
  .signup-heading {
    font-size: var(--heading-label-small);
    line-height: 43.2px;
    margin-bottom: 16px;
  }

}