/* Base Styles */
.signup-wrapper {
  border-radius: 8px;
  margin: 0 auto;
}

.signup-heading {
  font-size: var(--heading-label-base);
  line-height: 30.8px;
  text-align: left;
}

.signup-description {
  font-size: var(--body-medium);
  line-height: 22.4px;
  text-align: left;
  letter-spacing: -0.02em;
}

input[type="email"],
input[type="text"] {
  /* width: calc(50% - 10px); Equal width for email and first name inputs */
  padding: 10px 0 10px 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #4C809C;
  font-size: var(--body-small);
  width: 100%;
  color:#000D1AB2
}
.checkbox-group {
  display: flex;
  gap: 8px;
  margin-top: 10px;
  align-items: start;
  margin-top: 5px;
  font-size: var(--body-tiny);
}

input[type="checkbox"] {
  margin-right: 10px;
  border: 1.5px solid #00396B3D;
  height: 20px;
  width: 20px;
}

input::placeholder {
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 16px;
  color: #999;
  pointer-events: none;
  color: #000D1A91; 
  font-size: var(--body-medium);
}

input:focus::placeholder,
 input:not(:placeholder-shown)::placeholder {
    transform: translateY(-150%);
    font-size: 12px;
    color: #999;
    padding-left: 10px;

}

.checkbox-group label p {
  margin: 0;
}

.checkbox-group label p a {
  font-size: var(--body-tiny);
}

input[type='checkbox'] {
  margin-top: 7px;
}


button#signup-btn,
button#signup-btn-desktop {
  background-color: #004370;
  /* Blue button */
  color: white;
  border: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  height: 52px;
  gap: 12px;
  border-radius: 100px;
  justify-content: center;
}

button#signup-btn .icon,
button#signup-btn-desktop .icon {
  background-image: url('../../icons/subscribe.png');
  background-repeat: no-repeat;
    background-position: center;
}

button#signup-btn-desktop {
  display: none;
}

.error-message {
  color: red;
  font-size:12px;
  margin-top: 10px;
}


.input-error {
  border: 1px solid red;
  background-color: #FDF2F2;
}


/* Desktop Styles */
@media (width >=1024px) {
  .signup-wrapper {
    padding: 40px;
  }

  .signup-description {
    margin-bottom: 30px;
  }

  .signup-heading {
    font-size: var(--heading-label-base);
    line-height: 44.8px;
    text-align: left;
    margin-bottom: 10px;
  }

  input[type="email"],
  input[type="text"] {
    max-height: 25px;
    padding: 20px;
    font-size: var(--body-small);
    border: 1px solid #00396B3D;
    margin-right: 0;
  }

  button#signup-btn {
    display: none;
  }

  button#signup-btn-desktop {
    display: block;
  }

  .email-signup-container {
    display: flex;
    gap: 30px;
    align-items: baseline;
  }

  .input-group {
    display: flex;
  }

  input[type="email"] {
    border-radius: 50px 0 0 50px;
  }

  input[type="text"] {
    border-radius: 0px;
  }

  button#signup-btn-desktop {
    margin: 0;
    overflow: visible;
    border-radius: 0 50px 50px 0;
    text-align: center;
  }
}

/* Tablet Styles */
@media (width >=768px) and (width <=1024px) {
  .signup-wrapper {
    padding: 30px;
  }

  .signup-description {
    margin-bottom: 25px;
  }

  input[type="email"],
  input[type="text"] {
    width: calc(50% - 10px);
    padding: 12px;
    font-size: 1rem;
  }


}

/* Mobile Styles */
@media (width <=767px) {

}