.title-button-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title{
        text-transform: uppercase;
        font-size: 28px;
    }
    
    a.title-button{
        background: #004370;
        padding: 15px 20px;
        border-radius: 50px;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        
        p{
            margin: 0;
        }
    }
}

.cards-container{
    display: grid;
    gap:30px;

    .rp-card{
        display: flex;
        gap: 30px;

        .text-content{
            .title{
                font-size: 18px;
                line-height: 22px;
                color: #004370;
                font-weight: 700;
                margin-bottom: 30px;
            }

            .desc{
                font-size: 16px;
                line-height: 22px;
                border-top: 1px solid #E7EDF3;
            }

            a{
                font-size: 16px;
                line-height: 22px;
                color: #004370;
                font-weight: 700;
                text-decoration: none;

                .card-btn{
                    width: fit-content;
                    border-bottom: 2px solid #0049724D;

                    p{
                        margin: 10px 0;
                    }
                }
            }
        }
    }
}

@media(width >= 1024px){
    .cards-container{
        display: flex;
        
        .rp-card{
            .text-content{
                .title{
                    font-size: 24px;
                    line-height: 29px;
                }
            }
        }
    }
}

@media(width < 1024px){
    .title-button-wrapper{
        a{
            display: none;
        }
    }
}

@media( width>=768px){
    .title-button-wrapper{
        .title{
            font-size: 32px;
            line-height: 35px;
        }
    }
}

@media(width >=900){
    .title-button-wrapper{
        .title{
            font-size: 28px;
            line-height: 30px;
        }
    }
}