.priority-list {
  display: grid;
  max-width: var(--screen-width);
  grid-template-rows: max-content 1fr;
  grid-template-columns: 1fr;
  grid-gap: 40px;
  position: relative;
}

.priority-list .right-column-container .text-container {
  color: var(--accent-blue-primary-90);
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-medium);
}

.priority-list .right-column-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xlarge);
}

.priority-list .right-column-container .text-container .main-heading p {
  margin: 0;
  font-weight: 400;
  max-width: 550px;
  word-break: whitespace;
}

.priority-list .right-column-container .text-container .subtitle {
  text-transform: uppercase;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-700);
  line-height: 15px;
}

.priority-list .right-column-container .text-container .subtitle p {
  margin: 0;
}

.priority-list .right-column-container .text-container .button-wrapper{
  display: block;
  margin-top: 0;
}

.priority-list .right-column-container .text-container .button-wrapper a {
  background-color: var(--white);
  color: var(--accent-blue-primary-70);
  padding: 0 0 var(--spacing-xxsmall) 0;
  font-size: 14px;
  margin: 0;
  border-radius: 0;
  border-bottom: 2px solid #0049724d;
}

.priority-list .right-column-container .cards-container > div .carddesc ul a {
  color: var(--neutral-solid-90-s);
  text-decoration-color: var(--neutral-solid-90-s);
  line-height: 22px;
  font-size: 16px;
  text-transform: capitalize;
}

.priority-list .right-column-container .text-container .button-wrapper a:hover {
    border-bottom-color: var(--global-interactive-on-dark-hover);
  }

.priority-list .right-column-container .cards-container > div {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-regular);
  position: relative;
  padding-left:20px;
  padding-right: unset;
  text-align: left;
}

.priority-list .right-column-container .cards-container > div:last-child {
  border-left: 3px solid var(--transparent);
  border-right-width: 0;
}

.priority-list .right-column-container .cards-container > div:not(div:last-child) {
  border-left: 3px solid var(--neutral-solid-10-s);
  border-right-width: 0;
}

html[dir="rtl"] .priority-list .right-column-container .cards-container > div {
  padding-right: 20px;
  padding-left: unset;
  text-align: right;
}

html[dir="rtl"] .priority-list .right-column-container .cards-container > div:last-child {
  border-right: 3px solid var(--transparent);
  border-left-width: 0;
}

html[dir="rtl"] .priority-list .right-column-container .cards-container > div:not(div:last-child) {
  border-right: 3px solid var(--neutral-solid-10-s);
  border-left-width: 0;
}

.priority-list .left-column-container .image-container img {
  height: 342px;
}

.priority-list .right-column-container .cards-container > div img {
  display: none;
}

.priority-list .right-column-container .cards-container > div::before {
  position: absolute;
  left: -7px;
  right: auto;
  top: 0;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

html[dir="rtl"] .priority-list .right-column-container .cards-container > div::before {
  right: -7px;
  left: auto;
}

.priority-list .right-column-container .cards-container > div.people::before {
  background-color: var(--priorities-yellow-people);
}

.priority-list .right-column-container .cards-container > div.prosperity::before {
  background-color: var(--priorities-purple-prosperity);
}

.priority-list .right-column-container .cards-container > div.planet::before {
  background-color: var(--priorities-green-planet);
}

.priority-list .right-column-container .cards-container > div.infrastructure::before {
  background-color: var(--priorities-magenta-infrastructure);
}

.priority-list .right-column-container .cards-container > div.digital::before {
  background-color: var(--priorities-gray-digital);
}

.priority-list .right-column-container .cards-container > div.cross-cutting-areas::before {
  background-color: var(--priorities-blue-cross-cutting);
}

.priority-list .right-column-container .cards-container > div .cardtitle {
  text-transform: capitalize;
  font-size: var(--font-size-800);
  color: var(--accent-blue-primary-90);
  line-height: 29px;
  font-weight: var(--font-weight-700);
  margin-top: -8px;
}

.priority-list .right-column-container .cards-container {
  display: flex;
  gap: 0;
  flex-direction: column;
  max-height: fit-content;
}

.priority-list .right-column-container .cards-container > div .carddesc {
  display: flex;
  flex-direction: column;
  row-gap: var(--spacing-xsmall);
  font-size: var(--font-size-500);
  color: var(--neutral-solid-90-s);
}

.priority-list .right-column-container .cards-container > div .carddesc p {
  margin: 0;
}

.priority-list .right-column-container .cards-container > div .carddesc ul {
  padding-left: 20px;
  padding-right: unset;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxsmall);
  margin: 0;
  padding-bottom: var(--spacing-xlarge);
}

html[dir="rtl"] .priority-list .right-column-container .cards-container > div .carddesc ul {
  padding-right: 20px;
  padding-left: unset;
}

.priority-list .left-column-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.priority-list .left-column-container .image-container {
  background-size: contain;
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  height: 342px;
}

.priority-list-container.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before {
  background-position: left top;
  background-size: 30%;
}

.priority-list-wrapper
  .priority-list
  .right-column-container
  .cards-container
  > div
  .carddesc
  ul
  a {
  color: var(--neutral-solid-90-s);
  text-decoration-color: var(--neutral-solid-90-s);
  line-height: 22px;
  font-size: var(--font-size-300);
  text-transform: capitalize;
}

.priority-list-wrapper
  .priority-list
  .right-column-container
  .cards-container
  > div
  .carddesc
  ul
  a:hover {
  text-decoration-color: var(--accent-blue-primary-40);
}

@media(width >= 768px){
  .priority-list .right-column-container .cards-container>div::before{
    width: 16px;
    height: 16px;
  }
}

@media (width >=768px) and (width < 1024px) {
  .priority-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 48px;
  }

  .priority-list .right-column-container .text-container {
    padding: 0 var(--spacing-xxsmall);
  }

  .priority-list .right-column-container .text-container .subtitle {
    text-transform: uppercase;
    font-size: var(--font-size-300);
  }

  .priority-list .right-column-container .cards-container > div {
    padding-left: 20px;
    padding-right: unset;
  }

  html[dir="rtl"] .priority-list .right-column-container .cards-container > div {
    padding-right: 20px;
    padding-left: unset;
  }

  .priority-list .left-column-container {
    position: relative;
  }

  .priority-list .right-column-container .cards-container > div .carddesc {
    font-size: 18px;
  }

  .priority-list .left-column-container .image-container {
    position: sticky;
    top: 100px;
    width: 341px;
    height: 341px;
    background-size: 100% 100%;
    background-position: right center;
    transition: background-image 200ms linear;
  }

  .priority-list .left-column-container .image-container img {
    display: none;
  }
}

@media (width >= 1024px) {
  .priority-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 68px;
  }

  .priority-list .right-column-container {
    padding-bottom: 0;
  }

  .priority-list .right-column-container .text-container {
    padding: 0 var(--spacing-xxsmall);
  }

  .priority-list .right-column-container .cards-container > div .cardtitle {
    line-height: 43px;
    margin-top: -15px;
  }

  .priority-list-wrapper
  .priority-list
  .right-column-container
  .text-container
  .button-wrapper
  a {
    font-size: 16px;
  }

  .priority-list-wrapper
    .priority-list
    .right-column-container
    .text-container
    .subtitle {
    text-transform: uppercase;
    font-size: var(--font-size-300);
  }

  .priority-list .right-column-container .cards-container > div {
    padding-left: 40px;
    padding-right: unset;
  }

  html[dir="rtl"] .priority-list .right-column-container .cards-container > div {
    padding-right: 40px;
    padding-left: unset;
  }

  .priority-list .left-column-container {
    position: relative;
  }

  .priority-list-wrapper
    .priority-list
    .left-column-container
    .image-container {
    max-width: 731px;
    max-height: 731px;
    position: sticky;
    top: 30px;
    width: 100%;
    background-size: contain;
    background-position: right;
    height: 550px;
    transition: background-image 400ms linear;
  }

  .priority-list .left-column-container .image-container img {
    display: none;
  }

  .priority-list-wrapper
    .priority-list
    .right-column-container
    .cards-container
    > div
    .carddesc
    ul {
    flex-flow: row wrap;
    margin-bottom: 0;
    justify-content: space-between;
  }

  .priority-list .right-column-container .cards-container > div .carddesc ul li {
    padding-left: 4px;
    padding-right: unset;
    width: 45%;
  }

  html[dir="rtl"] .priority-list .right-column-container .cards-container > div .carddesc ul li {
    padding-right: 4px;
    padding-left: unset;
  }
}
