.bio-detail .resources ul {
  list-style: none;
  padding: var(--none);
}

.bio-detail .resources ul li a {
  color: var(--primary-blue-70);
  text-decoration: none;
  font-size: var(--body-medium);
}

.bio-detail .download-image {
  margin-right: var(--xxsmall);
}

.bio-detail .sections-container {
  padding: var(--regular) 28px var(--medium);
  background: var(--neutrals-20);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
}

.bio-detail .sections-container p {
  margin: var(--none);
}

.bio-detail .first-container .name-job-social {
  display: none;
}

.bio-detail .second-container {
  display: flex;
  flex-direction: column-reverse;
}

.bio-detail .sections-container .bio-name {
  font-size: 36px;
  font-weight: bold;
  color: var(--primary-blue-90);
  line-height: 43px;
}

.bio-detail .sections-container .job-title {
  font-size: 18px;
  color: var(--neutrals-100);
  margin-top: var(--xsmall);
}

.bio-detail .sections-container .name-job-social .social-media {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.bio-detail .sections-container .name-job-social .social-media .social-media-link {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-white);
}

.bio-detail .media-resources {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 28px;
  margin-top: var(--medium);
}

.bio-detail .media-inquiries p {
  font-size: var(--body-medium);
  line-height: 22px;
}

.bio-detail .title {
  border-bottom: 1px solid var(--neutrals-103);
  margin-bottom: 20px;
  font-size: var(--body-small);
  font-weight: bold;
  padding-bottom: var(--xsmall);
}

@media (width >=768px) {
  .bio-detail .second-container {
    display: grid;
    gap: 28px;
    grid-template-columns: 1fr 1fr;
  }

  .bio-detail .media-resources {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin-top: var(--xlarge);
  }

  .bio-detail .sections-container {
    padding: var(--huge) var(--huge) 88px;
  }
}

@media (width >=1024px) {
  .bio-detail .media-resources {
    gap: var(--xhuge);
    margin-top: 70px;
  }

  .bio-detail .sections-container .bio-name {
    font-size: var(--h1-base);
    line-height: 58px;
  }

  .bio-detail .sections-container .job-title {
    font-size: var(--default);
  }

  .bio-detail .first-container .name-job-social {
    display: block;
  }

  .bio-detail .second-container .name-job-social {
    display: none;
  }

  .bio-detail .sections-container {
    flex-direction: row;
  }

  .bio-detail .second-container {
    grid-template-columns: auto;
  }
}
