.cards-container {
    display: flex;
    padding: 0 72px;
    background-color: #fff;
    box-shadow: none;
  }
  
  .cards-container>.default-content-wrapper {
    flex: 1;
    padding: 0 var(--section-gutter-space);
  }
  
  .cards-container>.default-content-wrapper>p {
    margin: 0;
    padding: 0;
  }
  
  .cards-container>.default-content-wrapper>p:first-child {
    font-weight: 800;
    font-size: 14px;
    line-height: 15.4px;
    padding-bottom: 20px;
    color: #002337;
  }
  
  .cards-container>.default-content-wrapper>p:nth-child(2) {
    font-weight: 400;
    font-size: 40px;
    line-height: 44px;
    padding-bottom: 56px;
    color: #002337;
  }
  
  .cards-container>.default-content-wrapper>p:nth-child(2)>strong {
    color: #012740;
  }
  
  .default-content-wrapper .button-container a.button:any-link,
  button {
    margin: 0
  }
  
  .section>div.cards-wrapper {
    flex: 2;
    overflow: hidden;
    position: relative;
    padding-right: 0;
    padding-left: var(--section-gutter-space);
  }
  
  html[dir="rtl"] .section>div.cards-wrapper {
    padding-left: 0;
    padding-right: var(--section-gutter-space);
  }
  
  .cards>ul {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 90%);
    grid-template-rows: 1fr;
    gap: 0 32px;
    overflow: scroll hidden;
    scroll-snap-type: both mandatory;
    scroll-padding: 0;
    scrollbar-width: none;
  }
  
  .cards>ul>li {
    scroll-snap-align: start;
    display: inline-block;
    border: 0;
    width: auto;
    height: auto;
  }
  
  .cards>ul>li>.cards-card-image {
    background-color: #FCFCFC;
    border-radius: 10px;
    aspect-ratio: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
  }
  
  /* Next & previous buttons */
  .cards>.prev,
  .cards>.next {
    right: 90px;
    cursor: pointer;
    position: absolute;
    top: 40%;
    color: white;
    font-weight: bold;
    border-radius: 3px 0 0 3px;
  }
  
  /* Position the "next button" to the right */
  .cards>.next {
    margin: 25px 0 0;
  }
  
  .cards>.prev {
    margin: -25px 0 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .cards>.prev:hover,
  .cards>.next:hover {
    opacity: 0.7;
    transition: 0.2s;
  }
  
  /* Container for image text */
  .cards .cards-card-body {
    font-size: 14px;
    line-height: 16.8px;
    font-weight: 400;
    color: #181F25;
    padding: 24px 0 0;
    margin: 0;
  }
  
  .cards>ul>li.active {
    opacity: 1;
    scroll-snap-type: x;
  }
  
  .cards>ul>li.opacity {
    opacity: .2;
  }
  
  /* Tablet */
  
  @media only screen and (width <=1024px) {
    main .section {
      max-width: var(--screen-width);
      margin: auto;
    }
  
    html[dir="rtl"] main .section {
      max-width: var(--screen-width);
      margin: auto;
    }
  
    .cards-container {
      flex-direction: column;
    }
  
    .default-content-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr;
    }
  
    .default-content-wrapper p:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }
  
    .default-content-wrapper p:nth-child(2) {
      grid-column: 1 / 1;
      grid-row: 2 / 2;
    }
  
    .default-content-wrapper p:nth-child(3) {
      grid-column: 2 / 2;
      grid-row: 2 / 2;
    }
  
    .cards-container>.default-content-wrapper>p:nth-child(2) {
      font-weight: 400;
      font-size: 32px;
      line-height: 35.2px;
      color: #012740;
      padding-bottom: 40px;
    }
  
    .button-container {
      padding-bottom: 40px;
    }
  
    .default-content-wrapper .button-container a.button:any-link,
    button {
      font-size: 14px;
      font-weight: 700;
      line-height: 19.07px;
      margin: 0
    }
  }
  
  /* Mobile */
  @media only screen and (width <=768px) {
    .cards>.prev,
    .cards>.next {
      right: 30px;
      cursor: pointer;
      position: absolute;
      top: 40%;
      color: white;
      font-weight: bold;
      border-radius: 3px 0 0 3px;
    }
  
    .cards-container {
      flex-direction: column;
    }
  
    .default-content-wrapper {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  
    .default-content-wrapper p:first-child {
      grid-column: 1 / 2;
      grid-row: 1 / 1;
    }
  
    .default-content-wrapper p:nth-child(2) {
      grid-column: 1 / 2;
      grid-row: 2 / 2;
    }
  
    .default-content-wrapper p:nth-child(3) {
      grid-column: 1 / 2;
      grid-row: 3 / 3;
    }
  
    .cards-container>.default-content-wrapper>p:nth-child(2) {
      font-weight: 400;
      font-size: 28px;
      line-height: 30.8px;
      color: #012740;
      padding-bottom: 24px;
    }
  
    .cards-container>.default-content-wrapper>p.button-container {
      padding-bottom: 40px;
    }
  
    .default-content-wrapper .button-container a.button:any-link,
    button {
      margin: 0
    }
  }
  
  
  @media only screen and (width > 1024px) {
    main .section {
      max-width: var(--screen-width);
      margin: auto;
      padding: 0 var(--section-gutter-space);
    }
  
    .cards-container>.default-content-wrapper {
      flex: 1;
      padding: 0;
    }
  
    html[dir="rtl"] main .section {
      max-width: var(--screen-width);
      margin: auto;
      padding: 0 var(--section-gutter-space);
    }
  
  .default-content-wrapper .button-container a.button:any-link,
  button {
    font-size: 16px;
    font-weight: 700;
    line-height: 21.79px;
  }
  }
  