.carousel-container {
  display: flex;
  max-width: calc(1600px - var(--section-gutter-space));
  padding: 0 var(--section-gutter-space);
  background-color: var(--white);
  box-shadow: none;
}

.carousel-container > .default-content-wrapper {
  flex: 1;
  padding: 0;
}

.carousel-container > .default-content-wrapper > p {
  margin: 0;
  padding: 0;
}
 
.carousel-container .button-container button {
  background-color: var(--white);
  border: 2px solid var(--accent-blue-primary-70);
  padding: 6px 11px;
  right: 3%;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.carousel-container .button-container button:disabled {
  opacity: 0.5;
  background-color: var(--neutral-solid-30-s);
  color: rgb(0 41 77 / 42%);
  cursor: unset;
}

html[dir="rtl"] .carousel-container .button-container button {
  background-color: var(--white);
  border: 2px solid var(--accent-blue-primary-70);
  padding: 6px 11px;
  right: auto;
  left: 3%;
  cursor: pointer;
  position: absolute;
  top: 40%;
}

.carousel-container > .default-content-wrapper > p:first-child {
  font-weight: 800;
  font-size: var(--eyebrow-font-size-m);
  line-height: 15px;
  padding-bottom: var(--spacing-small);
  color: var(--neutral-alpha-57-a);
}

.carousel-container > .default-content-wrapper > p:nth-child(2) {
  font-weight: 400;
  font-size: var(--font-size-1000);
  line-height: 44px;
  padding-bottom: var(--spacing-xlarge);
  color: var(--accent-blue-primary-90);
  text-transform: uppercase;
  letter-spacing: -2px;
}
  
.carousel-container > .default-content-wrapper > p:nth-child(2) > strong {
  color: var(--accent-blue-primary-90);
}

.carousel-container .button-container {
  display: inline;
}

.carousel-container .button-container a.button:any-link, button {
  margin: 0;
}
  
.section > div.carousel-wrapper {
  flex: 2;
  overflow: hidden;
  position: relative;
  padding-right: 0;
  padding-left: 108px;
}

html[dir="rtl"] .section > div.carousel-wrapper {
  padding-left: 0;
  padding-right: 108px;
}
  
.carousel > ul {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 83%);
  grid-template-rows: 1fr;
  gap: 0 32px;
  overflow: scroll hidden;
  scroll-snap-type: both mandatory;
  scroll-padding: 0;
  scrollbar-width: none;
}
  
.carousel > ul > li {
  scroll-snap-align: start;
  display: inline-block;
  border: 0;
  width: auto;
  height: auto;
}
  
.carousel > ul > li > .cards-card-image {
  background-color: #fcfcfc;
  border-radius: 10px;
  aspect-ratio: auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
  
.carousel .button-container .next {
  margin: 8px 0 0;
}

.carousel .button-container .prev {
  margin: -40px 0 0;
}

.carousel .button-container .prev:hover,
.carousel .button-container .next:hover {
  opacity: 0.7;
  transition: 0.2s;
}
  
.carousel .cards-card-body {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: var(--neutral-alpha-95-a);
  padding: 24px 0 0;
  margin: 0;
}

.carousel > ul > li.active {
  opacity: 1;
 scroll-snap-type: x;
}

.carousel > ul > li.opacity {
  opacity: 0.2;
}

@media only screen and (width <=1024px) {
  .section.carousel-container {
    max-width: var(--screen-width);
    margin: auto;
    flex-direction: column;
    padding: 64px 0;
  }

  html[dir="rtl"] .section.carousel-container {
    max-width: var(--screen-width);
    margin: auto;
    padding: 64px 0;
  }

  .carousel-container > .default-content-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 var(--section-gutter-space);
  }
  
  .carousel-container > .default-content-wrapper p:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    font-weight: var(--font-weight-700);
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 12px;
    color: var(--neutral-alpha-70-a);
  }
  
  .carousel-container > .default-content-wrapper p:nth-child(2) {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
  }

  .carousel-container > .default-content-wrapper p:nth-child(3) {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }
 
  .carousel-container > .default-content-wrapper > p:nth-child(2) {
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    color: var(--accent-blue-primary-90);
    padding-bottom: 40px;
    padding-right: 24px;
    padding-left: 0;
  }

  html[dir="rtl"] .carousel-container > .default-content-wrapper > p:nth-child(2) {
    padding-left: 24px;
    padding-right: 0;
  }

  .carousel-container .button-container button {
    padding: 8px 12px;
    right: 3%;
    display: none;
  }

  .carousel-container .button-container button:disabled {
    opacity: 0.5;
  }
  
  html[dir="rtl"] .carousel-container .button-container button {
    padding: 8px 12px;
    left: 3%;
  }

  .carousel > ul {
    grid-template-columns: repeat(5, 79%);
    gap: 0 24px;
  }

  .carousel > .prev,
  .carousel > .next {
    right: var(--nav-height); 
  }

  html[dir="rtl"] .carousel > .prev,
  .carousel > .next {
    left: var(--nav-height); 
  }

  .carousel .cards-card-body {
    line-height: 17px;
  }

  .carousel-container .button-container {
    padding-bottom: 40px;
  }

  .carousel-container .button-container a.button:any-link, button {
    font-size: 14px;
    font-weight: var(--font-weight-700);
    line-height: 23px;
    margin: 0;
  }

  .carousel-container > div.carousel-wrapper {
    padding-right: 0;
    padding-left: var(--section-gutter-space);
  }

  html[dir="rtl"] .carousel-container > div.carousel-wrapper {
    padding-right: var(--section-gutter-space);
    padding-left: 0;
  }
}
  
@media only screen and (width < 768px) {
  .carousel > .prev,
  .carousel > .next {
    right: var(--nav-padding);
    top: 20%; 
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    border-radius: 3px 0 0 3px;
  }

  html[dir="rtl"] .carousel > .prev,
  .carousel > .next {
    left: var(--nav-padding);
    top: 20%; 
  }
  
  .section.carousel-container {
    flex-direction: column;
    padding: 48px 0;
  }

  .carousel-container > .default-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .carousel-container > .default-content-wrapper p:first-child {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    font-weight: 800;
    font-size: 14px;
    line-height: 15px;
    padding-bottom: 8px;
  }

  .carousel-container > .default-content-wrapper p:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
  }

  .carousel-container > .default-content-wrapper p:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 3;
  }

  .carousel-container > .default-content-wrapper > p:nth-child(2) {
    font-weight: 400;
    font-size: 28px;
    line-height: 31px;
    color: var(--accent-blue-primary-90);
    padding-bottom: 24px;
  }

  .carousel-container p.button-container {
    padding-bottom: 40px;
  }

  .carousel-container .button-container a.button:any-link, button {
    margin: 0;
  }

  .carousel-container .button-container button:disabled {
    opacity: 0.5;
  }

  .carousel > ul {
    grid-template-columns: repeat(5, 76%);
    gap: 0 24px;
  }
}

@media only screen and (width > 1024px) {
  main .section.carousel-container {
    margin: auto;
    padding-left: var(--section-gutter-space);
  }

  .carousel-container > .default-content-wrapper {
    flex: .824;
  }

  html[dir="rtl"] .carousel-container > .default-content-wrapper {
    padding: 0;
  }

  html[dir="rtl"] .section.carousel-container {
    margin: auto;
    padding: 96px var(--section-gutter-space) 96px 0;
  }

  .carousel-container .button-container a.button:any-link, button {
    font-size: 16px;
    font-weight: var(--font-weight-700);
    line-height: 24px;
    padding: 16px 32px;
  }

  .carousel-container .button-container button:disabled {
    background-color: var(--neutral-solid-30-s);
    color: rgb(0 41 77 / 42%);
    cursor: unset;
  }
}
