/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --transparent: rgb(255 255 255 / 0%);
  --primary-blue-10: #F6FCFF;
  --primary-blue-20: #E9F7FD;
  --primary-blue-30: #CDE7F9;
  --primary-blue-40: #A3DAFF;
  --primary-blue-50: #169AF3;
  --primary-blue-60: #0071BC;
  --primary-blue-70: #00538A;
  --primary-blue-80: #004370;
  --primary-blue-90: #053657;
  --primary-blue-100: #012740;
  --primary-blue-101: #002035;
  --primary-blue-102: #001C2D;

  /* neutrals */
  --neutrals-10: #F5F7F9;
  --neutrals-20: #E7EDF3;
  --neutrals-30: #DAE3EB;
  --neutrals-40: #BDCCDB;
  --neutrals-50: #8A9DB1;
  --neutrals-60: #586E84;
  --neutrals-70: #4B5E71;
  --neutrals-80: #3D4C5C;
  --neutrals-90: #252E37;
  --neutrals-100: #181F25;
  --neutrals-101: #181F25;
  --neutrals-103: #D4DEE8;

  /* neutrals - alpha */
  --neutrals-a-10: rgb(0 57 107 / 3%);
  --neutrals-a-20: rgb(0 57 107 / 5%);
  --neutrals-a-30: rgb(0 57 107 / 8%);
  --neutrals-a-40: rgb(0 57 107 / 16%);
  --neutrals-a-50: rgb(0 57 107 / 24%);
  --neutrals-a-60: rgb(0 41 77 / 42%);
  --neutrals-a-70: rgb(0 13 26 / 57%);
  --neutrals-a-80: rgb(0 13 26 / 65%);
  --neutrals-a-90: rgb(0 13 26 / 70%);
  --neutrals-a-100: rgb(0 13 26 / 96%);

  /* Semantic/interactive */
  --red-10: #FDF2F2;
  --red-20: #F6BCBF;
  --red-30: #EC747A;
  --red-40: #E64750;
  --red-50: #DA1E28;
  --red-60: #C91C25;
  --red-70: #9D161D;
  --red-80: #861319;
  --red-90: #550C10;
  --green-10: #F6FEF0;
  --green-20: #EDFEE2;
  --green-30: #B8EC93;
  --green-40: #56C606;
  --green-50: #459E05;
  --green-60: #388004;
  --green-70: #234F03;
  --green-80: #1E4602;
  --green-90: #163102;
  --yellow-10: #FFF7E6;
  --yellow-20: #FEF3D7;
  --yellow-30: #FFECC2;
  --yellow-40: #FED881;
  --yellow-50: #E19D00;
  --yellow-60: #CA8D02;
  --yellow-70: #B27C00;
  --yellow-80: #896001;
  --yellow-90: #473201;
  --purple-10: #F1E1FF;
  --purple-20: #E5C7FF;
  --purple-30: #CD95FE;
  --purple-40: #C17CFE;
  --purple-50: #B25DFE;
  --purple-60: #7702DF;
  --purple-70: #5C01AC;
  --purple-80: #410179;
  --purple-90: #260147;

  /* spacing (Padding & Margins) */
  --spacing-0: 0;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-52: 52px;
  --spacing-56: 56px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;

  /* Typography spacing */
  --size-72: 72px;
  --size-60: 60px;
  --size-48: 48px;
  --size-44: 44px;
  --size-40: 40px;
  --size-36: 36px;
  --size-32: 32px;
  --size-28: 28px;
  --size-24: 24px;
  --size-20: 20px;
  --size-18: 18px;
  --size-16: 16px;
  --size-14: 14px;
  --size-12: 12px;

  /* Heading variables */
  --h1-huge: var(--size-44);
  --h1-large: var(--size-36);
  --h1-base: var(--size-24);
  --h2-large: var(--size-28);
  --h2-base: var(--size-28);
  --h3-large: var(--size-24);
  --h3-base: var(--size-24);
  --heading-label-large: var(--size-36);
  --heading-label-base: var(--size-28);
  --heading-label-small: var(--size-28);
  --heading-label-tiny: var(--size-24);

  /* Body variables */
  --default: var(--size-20);
  --body-huge: var(--size-20);
  --body-large: var(--size-18);
  --body-medium: var(--size-16);
  --body-small: var(--size-14);
  --body-tiny: var(--size-12);

  /* Spacing - mobile */
  --none: var(--spacing-0);
  --xtiny: var(--spacing-2);
  --tiny: var(--spacing-4);
  --xxsmall: var(--spacing-4);
  --xsmall: var(--spacing-4);
  --small: var(--spacing-8);
  --regular: var(--spacing-16);
  --medium: var(--spacing-20);
  --large: var(--spacing-24);
  --xlarge: var(--spacing-28);
  --xxlarge: var(--spacing-32);
  --huge: var(--spacing-40);
  --xhuge: var(--spacing-48);

  /* fonts */
  --body-font-family: 'Open Sans', roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* Custom variables */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: var(--neutrals-100);
  --color-white: #FFF;
  --color-black: #000;

  /* Navigation Menu */
  --input-background-color:#002337;
  --nav-menu-placeholder-color:#FFFFFF76;
  --search-input-container-border: #004972;
  --nav-menu-footer-color: #99b6C7;

  /* body sizes */
  --body-font-size: var(--default);
  --body-font-size-citation: 12px;

  /* main-heading styles */
  --main-heading-font-size: var(--size-28);
  --main-heading-spacing: 0 0 var(--spacing-36);

  /* eyebrow styles */
  --eyebrow-font-size-l: 14px;
  --eyebrow-font-size-m: 14px;
  --eyebrow-font-size-s: 12px;

  /* Screen variables */
  --screen-width: 1456px;
  --nav-height: 34px;
  --nav-padding: 25px;
  --nav-menu-overlay-height: 961px;

  /* shadows & elevations */
  --section-shadow: 0 2px 4px rgba(0 0 0 10%);
  --cards-shadow: 0 2px 6px rgba(0 0 0 8%);
  --modals-shadow: 0 4px 12px rgba(0 0 0 32%);
  --dropdown-shadow: 0 4px 12px rgba(0 0 0 32%);
  --map-elements-shadow: 0 2px 4px rgba(0 0 0 32%);
  --dashboard-cards-shadow: 5px 5px 12px rgba(0 0 0 25%);
  --overlay-color:rgba(255 255 255 / 50%);

  /* Gutter space */
  --section-gutter-space: 28px;

  /* Block specific */
  --signup-padding: var(--spacing-28);
}

/*
  Desktop: >= 1024px
  Tab: 768px - 1023px
  Mobile: <= 767px
*/
@media (width >= 768px) {
  :root {
    /* typography specific - h1..h6, body ..etc */
    --h1-huge: var(--size-60);
    --h1-large: var(--size-44);
    --h1-base: var(--size-36);
    --h2-large: var(--size-32);
    --h2-base: var(--size-32);
    --h3-large: var(--size-28);
    --h3-base: var(--size-28);
    --heading-label-large: var(--size-36);
    --heading-label-base: var(--size-28);
    --heading-label-small: var(--size-28);
    --heading-label-tiny: var(--size-24);

    /* Body variables */
    --default: var(--size-20);
    --body-huge: var(--size-20);
    --body-large: var(--size-18);
    --body-medium: var(--size-14);
    --body-small: var(--size-14);
    --body-tiny: var(--size-12);

    /* body styles */
    --body-font-size: var(--default);
    --body-font-size-citation: 12px;

    /* main-heading styles */
    --main-heading-font-size: var(--size-32);
    
    /* eyebrow styles */
    --eyebrow-font-size-l: 16px;
    --eyebrow-font-size-m: 14px;
    --eyebrow-font-size-s: 12px;
  
    /* Gutter space */
    --section-gutter-space: 48px;
  
    /* Screen variables */
    --nav-height: 44px;
  
    /* Spacing - tablet */
    --none: var(--spacing-0);
    --xtiny: var(--spacing-2);
    --tiny: var(--spacing-4);
    --xxsmall: var(--spacing-4);
    --xsmall: var(--spacing-8);
    --small: var(--spacing-12);
    --regular: var(--spacing-20);
    --medium: var(--spacing-24);
    --large: var(--spacing-28);
    --xlarge: var(--spacing-32);
    --xxlarge: var(--spacing-40);
    --huge: var(--spacing-56);
    --xhuge: var(--spacing-64);

    /* Block specific */
    --signup-padding: var(--spacing-32);
  }
}

@media (width >= 1024px) {
  :root {
    /* typography specific - h1..h6, body ..etc */
    --h1-huge: var(--size-72);
    --h1-large: var(--size-60);
    --h1-base: var(--size-48);
    --h2-large: var(--size-40);
    --h2-base: var(--size-40);
    --h3-large: var(--size-32);
    --h3-base: var(--size-32);
    --heading-label-large: var(--size-48);
    --heading-label-base: var(--size-40);
    --heading-label-small: var(--size-36);
    --heading-label-tiny: var(--size-28);

    /* Body variables */
    --default: var(--size-20);
    --body-huge: var(--size-24);
    --body-large: var(--size-20);
    --body-medium: var(--size-16);
    --body-small: var(--size-14);
    --body-tiny: var(--size-12);
    
    /* body styles */
    --body-font-size: var(--default);

    /* Gutter space */
    --section-gutter-space: 72px;
  
    /* Screen variables */
    --nav-height: 50px;
    --nav-padding: 35px;
  
    /* Spacing - desktop */
    --none: var(--spacing-0);
    --xtiny: var(--spacing-2);
    --tiny: var(--spacing-4);
    --xxsmall: var(--spacing-8);
    --xsmall: var(--spacing-12);
    --small: var(--spacing-16);
    --regular: var(--spacing-24);
    --medium: var(--spacing-32);
    --large: var(--spacing-40);
    --xlarge: var(--spacing-48);
    --xxlarge: var(--spacing-64);
    --huge: var(--spacing-80);
    --xhuge: var(--spacing-96);

    /* main-heading styles */
    --main-heading-font-size: var(--size-40);
    --main-heading-spacing: 0 0 var(--spacing-48);

    /* Block specific */
    --signup-padding: var(--spacing-52);
  }
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

body {
  font-size: var(--body-font-size);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
  padding: var(--nav-padding) 0 calc(var(--nav-padding) - 2px);
  margin-bottom: 2px;
}

.homepage header {
  padding-bottom: var(--nav-padding);
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.2;
  margin: 1rem 0;
  letter-spacing: 0;
  color: var(--primary-blue-100);
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: var(--h1-base); 
  line-height: 1.1;
  margin-bottom: var(--large);
}

h2 { 
  font-size: var(--h2-base);
  margin-bottom: var(--medium);
}

h3 { 
  font-size: var(--h3-base);
  line-height: 1.1;
  margin-bottom: var(--regular);
}

h4 {
  font-size: var(--heading-label-tiny);
  margin-bottom: var(--small);
}

/* TODO: Check with Maria */
h5 { font-size: var(--heading-label-tiny); }
h6 { font-size: var(--heading-label-tiny); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-small);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--neutrals-100);
  text-decoration: underline;
  text-decoration-color: var(--color-black);
  font-size: var(--body-font-size);
  font-weight: 400;
  line-height: 25px;
  text-align: left;
}

a:any-link:hover {
  color: rgb(0 13 26 / 96%);
  text-decoration-color: var(--primary-blue-50);
}

a:any-link:focus,
a:any-link:active {
  color: var(--primary-blue-100);
  text-decoration-color: var(--primary-blue-100);
}

a:any-link:visited {
  color: var(--purple-70);
  text-decoration-color: var(--purple-70);
}

a:any-link.disabled {
  color: rgb(0 41 77 / 42%);
  cursor: unset;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  font-size: var(--body-small);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 12px 32px;
  font-style: normal;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--primary-blue-80);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
button:hover {
  background-color: var(--primary-blue-50);
  color: var(--primary-blue-80);
  cursor: pointer;
}

a.button:focus,
button:focus {
  background-color: var(--primary-blue-100);
  color: var(--background-color);
}

a.button.disabled,
a.button.disabled:hover,
button:disabled,
button:disabled:hover {
  background-color: var(--neutrals-40);
  color: rgb(0 41 77 / 42%);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid var(--primary-blue-80);
  color: var(--primary-blue-80);
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: unset;
  border: 2px solid var(--primary-blue-50);
  color: var(--primary-blue-80);
}

a.button.secondary:focus,
button.secondary:focus {
  background-color: var(--primary-blue-20);
  border: 2px solid var(--primary-blue-80);
  color: var(--primary-blue-80);
}

a.button.secondary.disabled,
a.button.secondary.disabled:hover,
button.secondary:disabled,
button.secondary:disabled:hover {
  background-color: unset;
  border: 2px solid var(--neutrals-103);
  color: var(--neutrals-50);
  cursor: unset;
}

p.button-container {
  margin: 0;
}

/* Links and buttons in dark theme */
.section.bg-primary-blue-90,
.section.bg-primary-blue-70 {
  a:any-link {
    color: var(--color-white);
    text-decoration-color: var(--color-white);
  }

  a:any-link:hover {
    color: var(--color-white);
    text-decoration-color: var(--primary-blue-50);
  }

  a:any-link:focus,
  a:any-link:active {
    color: var(--color-white);
    text-decoration-color: var(--color-white);
  }

  a:any-link:visited {
    color: var(--purple-40);
    text-decoration-color: var(--purple-40);
  }

  a:any-link.disabled {
    color: rgb(255 255 255 / 48%);
    text-decoration-color: rgb(255 255 255 / 48%);
    cursor: unset;
  }

  a.button:any-link,
  button {
    border: 1px solid transparent;
    color: var(--primary-blue-80);
    background-color: var(--background-color);
  }

  a.button:hover,
  button:hover {
    background-color: var(--background-color);
    color: var(--primary-blue-80);
    border: 1px solid var(--primary-blue-50);
  }

  /* TODO: Not available in Figma - add more */
  a.button:focus,
  button:focus {
    background-color: var(--background-color);
    color: var(--primary-blue-80);
  }

  /* TODO: To be updated */
  a.button.disabled,
  a.button.disabled:hover,
  button:disabled,
  button:disabled:hover {
    background-color: var(--neutrals-40);
    color: rgb(0 41 77 / 42%);
  }

  a.button.secondary,
  button.secondary {
    background-color: var(--primary-blue-80);
    border: 1px solid var(--background-color);
    color: var(--background-color);
  }

  a.button.secondary:hover,
  button.secondary:hover {
    background-color: var(--primary-blue-80);
    border: 1px solid var(--primary-blue-50);
    color: var(--background-color);
  }

  /* TODO: Focus and disabled is not updated in figma */
  a.button.secondary:focus,
  button.secondary:focus {
    background-color: var(--primary-blue-80);
    border: 1px solid var(--primary-blue-50);
    color: var(--background-color);
  }

  a.button.secondary.disabled,
  a.button.secondary.disabled:hover,
  button.secondary:disabled,
  button.secondary:disabled:hover {
    background-color: unset;
    border: 1px solid var(--neutrals-103);
    color: var(--neutrals-50);
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  margin: 0;
  padding: var(--spacing-32) 0;
  position: relative;
  z-index: 0;
}

main .section > div {
  padding: 0 var(--section-gutter-space);
}

@media (width >= 1024px) {
  main .section > div {
    max-width: var(--screen-width);
    margin: auto;
  }
}

.section[class*='bg-primary-blue'] {
  color: var(--color-white);
}

.section[class*='bg-primary-blue'] h1,
.section[class*='bg-primary-blue'] h2,
.section[class*='bg-primary-blue'] h3,
.section[class*='bg-primary-blue'] h4,
.section[class*='bg-primary-blue'] h5,
.section[class*='bg-primary-blue'] h6 {
  color: var(--color-white);
}

.section[class*='bg-neutrals'] {
  color: var(--neutrals-100);
}

main .section.bg-primary-blue-90,
main .section.bg-primary-blue-90[data-bg-inside-container="true"] > div {
  background-color: var(--primary-blue-90);
}

main .section.bg-primary-blue-70,
main .section.bg-primary-blue-70[data-bg-inside-container="true"] {
  background-color: var(--primary-blue-70);
}

main .section.bg-neutrals-10,
main .section.bg-neutrals-10[data-bg-inside-container="true"] > div {
  background-color: var(--neutrals-10);
}

main .section.bg-neutrals-20,
main .section.bg-neutrals-20[data-bg-inside-container="true"] > div {
  background-color: var(--neutrals-20);
}

main .section.bg-neutrals-40-gradient,
main .section.bg-neutrals-40-gradient[data-bg-inside-container="true"] > div {
  background: linear-gradient(var(--color-white) 0%, var(--neutrals-40) 50%, var(--neutrals-40) 50%, var(--color-white) 100%);
}

main .section[class*='bg-'][data-bg-inside-container="true"] {
  background-color: transparent;
}

main .section[data-sec-spacing="section-none"] { padding: var(--none) 0; }
main .section[data-sec-spacing="section-xtiny"] { padding: var(--xtiny) 0; }
main .section[data-sec-spacing="section-tiny"] { padding: var(--tiny) 0; }
main .section[data-sec-spacing="section-xxsmall"] { padding: var(--xxsmall) 0; }
main .section[data-sec-spacing="section-xsmall"] { padding: var(--xsmall) 0; }
main .section[data-sec-spacing="section-regular"] { padding: var(--regular) 0; }
main .section[data-sec-spacing="section-small"] { padding: var(--small) 0; }
main .section[data-sec-spacing="section-medium"] { padding: var(--medium) 0; }
main .section[data-sec-spacing="section-large"] { padding: var(--large) 0; }
main .section[data-sec-spacing="section-xlarge"] { padding: var(--xlarge) 0; }
main .section[data-sec-spacing="section-xxlarge"] { padding: var(--xxlarge) 0; }
main .section[data-sec-spacing="section-huge"] { padding: var(--huge) 0; }
main .section[data-sec-spacing="section-xhuge"] { padding: var(--xhuge) 0; }

/* Swoosh 
  body color: #F5F7F9
  primary-blue-90: #00538A
  primary-blue-70: #0071BC
  bg-neutrals-20: #FFF
  bg-neutrals-10: #FFF
*/
body[class*='page-swoosh-']::before,
main .section[data-sec-swoosh^="sec-swoosh"]::before {
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

body.page-swoosh-big-curve::before { background-image: url('../icons/swoosh/page/big-curve.svg'); }
body.page-swoosh-half-curve::before { background-image: url('../icons/swoosh/page/half-curve.svg'); }

body[class*='page-swoosh-']::before { 
  background-position: left top; 
  background-size: 60%;
}

@media (width >= 1024px) {
  body[class*='page-swoosh-']::before { 
    background-size: 40%;
  }
}

main .section[data-sec-swoosh="sec-swoosh-type1"]::before { background-position: left center; }
main .section[data-sec-swoosh="sec-swoosh-type2"]::before { background-position: right top; }
main .section[data-sec-swoosh="sec-swoosh-type3"]::before { background-position: left top; }
main .section[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before { background-position: center center; }

@media (width < 768px) {
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/default-m.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/primary90-m.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/primary70-m.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/neutrals-m.svg'); }
  
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/default-m.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/primary90-m.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/primary70-m.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/neutrals-m.svg'); }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/default-m.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/primary90-m.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/primary70-m.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/neutrals-m.svg'); }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before { background-image: url('../icons/swoosh/primary-blue-90/mobile.svg'); }
}

@media (width >= 768px) and (width < 1024px) {
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/default-tab.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/primary90-tab.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/primary70-tab.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/neutrals-tab.svg'); }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/default-tab.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/primary90-tab.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/primary70-tab.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/neutrals-tab.svg'); }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/default-tab.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/primary90-tab.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/primary70-tab.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/neutrals-tab.svg'); }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before { background-image: url('../icons/swoosh/primary-blue-90/tab.svg'); }
}

@media (width >= 1024px) {  
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/default-d.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/primary90-d.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/primary70-d.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type1"]::before { background-image: url('../icons/swoosh/type1/neutrals-d.svg'); }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/default-d.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/primary90-d.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/primary70-d.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type2"]::before { background-image: url('../icons/swoosh/type2/neutrals-d.svg'); }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/default-d.svg'); }
  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/primary90-d.svg'); }
  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/primary70-d.svg'); }
  main .section[class*='bg-neutrals'][data-sec-swoosh="sec-swoosh-type3"]::before { background-image: url('../icons/swoosh/type3/neutrals-d.svg'); }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before { background-image: url('../icons/swoosh/primary-blue-90/desktop.svg'); }
}

body.no-scroll {
  overflow-y: hidden; /* Prevent scrolling */
}

.main-heading p {
  font-size: var(--main-heading-font-size);
  text-transform: uppercase;
  margin: var(--main-heading-spacing);
}
