/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
  /* colors */
  --transparent: rgb(255 255 255 / 0%);
  --primary-blue-10: #F6FCFF;
  --primary-blue-20: #E9F7FD;
  --primary-blue-30: #CDE7F9;
  --primary-blue-40: #A3DAFF;
  --primary-blue-50: #169AF3;
  --primary-blue-60: #0071BC;
  --primary-blue-70: #00538A;
  --primary-blue-80: #004370;
  --primary-blue-90: #053657;
  --primary-blue-100: #012740;
  --primary-blue-101: #002035;
  --primary-blue-102: #001C2D;

  /* neutrals */
  --neutrals-10: #F5F7F9;
  --neutrals-20: #E7EDF3;
  --neutrals-30: #DAE3EB;
  --neutrals-40: #BDCCDB;
  --neutrals-50: #8A9DB1;
  --neutrals-60: #586E84;
  --neutrals-70: #4B5E71;
  --neutrals-80: #3D4C5C;
  --neutrals-90: #252E37;
  --neutrals-100: #181F25;
  --neutrals-101: #181F25;
  --neutrals-103: #D4DEE8;

  /* neutrals - alpha */
  --neutrals-a-10: rgb(0 57 107 / 3%);
  --neutrals-a-20: rgb(0 57 107 / 5%);
  --neutrals-a-30: rgb(0 57 107 / 8%);
  --neutrals-a-40: rgb(0 57 107 / 16%);
  --neutrals-a-50: rgb(0 57 107 / 24%);
  --neutrals-a-60: rgb(0 41 77 / 42%);
  --neutrals-a-70: rgb(0 13 26 / 57%);
  --neutrals-a-80: rgb(0 13 26 / 65%);
  --neutrals-a-90: rgb(0 13 26 / 70%);
  --neutrals-a-100: rgb(0 13 26 / 96%);

  /* Semantic/interactive */
  --red-10: #FDF2F2;
  --red-20: #F6BCBF;
  --red-30: #EC747A;
  --red-40: #E64750;
  --red-50: #DA1E28;
  --red-60: #C91C25;
  --red-70: #9D161D;
  --red-80: #861319;
  --red-90: #550C10;
  --green-10: #F6FEF0;
  --green-20: #EDFEE2;
  --green-30: #B8EC93;
  --green-40: #56C606;
  --green-50: #459E05;
  --green-60: #388004;
  --green-70: #234F03;
  --green-80: #1E4602;
  --green-90: #163102;
  --yellow-10: #FFF7E6;
  --yellow-20: #FEF3D7;
  --yellow-30: #FFECC2;
  --yellow-40: #FED881;
  --yellow-50: #E19D00;
  --yellow-60: #CA8D02;
  --yellow-70: #B27C00;
  --yellow-80: #896001;
  --yellow-90: #473201;
  --purple-10: #F1E1FF;
  --purple-20: #E5C7FF;
  --purple-30: #CD95FE;
  --purple-40: #C17CFE;
  --purple-50: #B25DFE;
  --purple-60: #7702DF;
  --purple-70: #5C01AC;
  --purple-80: #410179;
  --purple-90: #260147;

  /* spacing (Padding & Margins) (Todo: open questions, values subject to change) */
  --spacing-0: 0;
  --spacing-2: 2px;
  --spacing-4: 4px;
  --spacing-8: 8px;
  --spacing-12: 12px;
  --spacing-16: 16px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-80: 80px;
  --spacing-96: 96px;

  /* fonts */
  --body-font-family: 'Open Sans', roboto, roboto-fallback;
  --heading-font-family: var(--body-font-family);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* Custom variables */
  --link-color: #035fe6;
  --link-hover-color: #136ff6;
  --background-color: white;
  --light-color: #eee;
  --dark-color: #ccc;
  --text-color: var(--neutrals-100);
  --color-white: #FFF;
  --color-black: #000;
  --input-background-color:#002337;

  /* body sizes */
  --body-font-size-xl: 20px;
  --body-font-size-l: 18px;
  --body-font-size-m: 16px;
  --body-font-size-s: 14px;
  --body-font-size-xs: 12px;
  --body-font-size-citation: 12px;
  --body-font-size: 18px;

  /* eyebrow styles */
  --eyebrow-font-size-l: 14px;
  --eyebrow-font-size-m: 14px;
  --eyebrow-font-size-s: 12px;

  /* heading sizes - as per interactive strategies */
  --heading-font-size-xxl: 44px;
  --heading-font-size-xl: 36px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 28px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 20px;
  --heading-font-size-xxs: 18px;
  --heading-font-size-xxxs: 14px;

  /* Screen variables */
  --screen-width: 1456px;
  --nav-height: 34px;
  --nav-padding: 25px;

  /* shadows & elevations */
  --section-shadow: 0 2px 4px rgba(0 0 0 10%);
  --cards-shadow: 0 2px 6px rgba(0 0 0 8%);
  --modals-shadow: 0 4px 12px rgba(0 0 0 32%);
  --dropdown-shadow: 0 4px 12px rgba(0 0 0 32%);
  --map-elements-shadow: 0 2px 4px rgba(0 0 0 32%);
  --dashboard-cards-shadow: 5px 5px 12px rgba(0 0 0 25%);
  --overlay-color:rgba(255 255 255 / 50%);

  /* Gutter space */
  --section-gutter-space: 28px;
  
  /*
    Desktop: >= 1024px
    Tab: 768px - 1023px
    Mobile: <= 767px
  */
  @media (width >= 768px) {
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 40px;
    --heading-font-size-m: 36px;
    --heading-font-size-s: 28px;
    --heading-font-size-xs: 24px;
    --heading-font-size-xxs: 20px;
    --heading-font-size-xxxs: 16px;

    /* body styles */
    --body-font-size-xl: 24px;
    --body-font-size-l: 20px;
    --body-font-size-m: 16px;
    --body-font-size-s: 14px;
    --body-font-size-xs: 12px;
    --body-font-size-citation: 12px;
    
    /* eyebrow styles */
    --eyebrow-font-size-l: 16px;
    --eyebrow-font-size-m: 14px;
    --eyebrow-font-size-s: 12px;

    /* Gutter space */
    --section-gutter-space: 48px;

    /* Screen variables */
    --nav-height: 44px;
  }

  @media (width >= 1024px) {
    --body-font-size: 20px;

    /* Gutter space */
    --section-gutter-space: 72px;

     /* Screen variables */
     --nav-height: 50px;
     --nav-padding: 35px;
  }
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('Arial');
}

body {
  font-size: var(--body-font-size);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.4;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-height);
  padding: var(--nav-padding) 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  line-height: 1.2;
  margin: 1rem 0;
  letter-spacing: 0;
  color: var(--primary-blue-100);
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { 
  font-size: var(--heading-font-size-xxl); 
  line-height: 1.1; 
}
h2 { font-size: var(--heading-font-size-xl); }

h3 { 
  font-size: var(--heading-font-size-l); 
  line-height: 1.1; 
}
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

code,
pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  background: transparent;
  border-bottom: 2px solid rgb(0 57 107 / 24%);
  color: var(--primary-blue-80);
  padding: 12px 0 8px;
  font-size: var(--body-font-size-s);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: left;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.25px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  padding: 12px 32px;
  font-style: normal;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--primary-blue-80);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover,
button:hover {
  background-color: var(--primary-blue-50);
  color: var(--primary-blue-80);
  cursor: pointer;
}

a.button:focus,
button:focus {
  background-color: var(--primary-blue-100);
  color: var(--background-color);
}

a.button.disabled,
a.button.disabled:hover,
button:disabled,
button:disabled:hover {
  background-color: var(--neutrals-40);
  color: rgb(0 41 77 / 42%);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid var(--primary-blue-80);
  color: var(--primary-blue-80);
}

a.button.secondary:hover,
button.secondary:hover {
  background-color: unset;
  border: 2px solid var(--primary-blue-50);
  color: var(--primary-blue-80);
}

a.button.secondary:focus,
button.secondary:focus {
  background-color: var(--primary-blue-20);
  border: 2px solid var(--primary-blue-80);
  color: var(--primary-blue-80);
}

a.button.secondary.disabled,
a.button.secondary.disabled:hover,
button.secondary:disabled,
button.secondary:disabled:hover {
  background-color: unset;
  border: 2px solid var(--neutrals-103);
  color: var(--neutrals-50);
  cursor: unset;
}

p.button-container {
  margin: 0;
}

.section.bg-primary-blue-90,
.section.bg-primary-blue-70 {
  a.button:any-link,
  button {
    border: 1px solid transparent;
    color: var(--primary-blue-80);
    background-color: var(--background-color);
  }

  a.button:hover,
  button:hover {
    background-color: var(--background-color);
    color: var(--primary-blue-80);
    border: 1px solid var(--primary-blue-50);
  }

  /* TODO: Not available in Figma - add more */
  a.button:focus,
  button:focus {
    background-color: var(--background-color);
    color: var(--primary-blue-80);
  }

  /* TODO: To be updated */
  a.button.disabled,
  a.button.disabled:hover,
  button:disabled,
  button:disabled:hover {
    background-color: var(--neutrals-40);
    color: rgb(0 41 77 / 42%);
  }

  a.button.secondary,
  button.secondary {
    background-color: var(--primary-blue-80);
    border: 1px solid var(--background-color);
    color: var(--background-color);
  }

  a.button.secondary:hover,
  button.secondary:hover {
    background-color: var(--primary-blue-80);
    border: 1px solid var(--primary-blue-50);
    color: var(--background-color);
  }

  /* TODO: Focus and disabled is not updated in figma */
  a.button.secondary:focus,
  button.secondary:focus {
    background-color: var(--primary-blue-80);
    border: 1px solid var(--primary-blue-50);
    color: var(--background-color);
  }

  a.button.secondary.disabled,
  a.button.secondary.disabled:hover,
  button.secondary:disabled,
  button.secondary:disabled:hover {
    background-color: unset;
    border: 1px solid var(--neutrals-103);
    color: var(--neutrals-50);
  }
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  margin: 0;
  padding: var(--spacing-32) 0;
  position: relative;
  z-index: 0;
}

main .section > div {
  padding: 0 var(--section-gutter-space);
}

@media (width >= 1024px) {
  main .section > div {
    max-width: var(--screen-width);
    margin: auto;
  }
}

main .section.bg-primary-blue-90,
main .section.bg-primary-blue-70,
main .section.bg-primary-blue-90 h1,
main .section.bg-primary-blue-90 h2,
main .section.bg-primary-blue-90 h3,
main .section.bg-primary-blue-90 h4,
main .section.bg-primary-blue-90 h5,
main .section.bg-primary-blue-90 h6,
main .section.bg-primary-blue-70 h1,
main .section.bg-primary-blue-70 h2,
main .section.bg-primary-blue-70 h3,
main .section.bg-primary-blue-70 h4,
main .section.bg-primary-blue-70 h5,
main .section.bg-primary-blue-70 h6 {
  color: var(--color-white);
}

main .section.bg-neutrals-10,
main .section.bg-neutrals-20 {
  color: var(--neutrals-100);
}

main .section.bg-neutrals-10 h1,
main .section.bg-neutrals-10 h2,
main .section.bg-neutrals-10 h3,
main .section.bg-neutrals-10 h4,
main .section.bg-neutrals-10 h5,
main .section.bg-neutrals-10 h6,
main .section.bg-neutrals-20 h1,
main .section.bg-neutrals-20 h2,
main .section.bg-neutrals-20 h3,
main .section.bg-neutrals-20 h4,
main .section.bg-neutrals-20 h5,
main .section.bg-neutrals-20 h6 {
  color: var(--primary-blue-100);
}

main .section.bg-primary-blue-90 {
  background-color: var(--primary-blue-90);
}

main .section.bg-primary-blue-90[data-bg-inside-container="true"] {
  background-color: transparent;
}

main .section.bg-primary-blue-90[data-bg-inside-container="true"] > div {
  background-color: var(--primary-blue-90);
}

main .section.bg-primary-blue-70 {
  background-color: var(--primary-blue-70);
}

main .section.bg-primary-blue-70[data-bg-inside-container="true"] {
  background-color: transparent;
}

main .section.bg-primary-blue-70[data-bg-inside-container="true"] > div {
  background-color: var(--primary-blue-70);
}

main .section.bg-neutrals-10 {
  background-color: var(--neutrals-10);
}

main .section.bg-neutrals-10[data-bg-inside-container="true"] {
  background-color: transparent;
}

main .section.bg-neutrals-10[data-bg-inside-container="true"] > div {
  background-color: var(--neutrals-10);
  padding: 0;
}

main .section.bg-neutrals-20 {
  background-color: var(--neutrals-20);
}

main .section.bg-neutrals-20[data-bg-inside-container="true"] {
  background-color: transparent;
}

main .section.bg-neutrals-20[data-bg-inside-container="true"] > div {
  background-color: var(--neutrals-20);
  padding: 0;
}

main .section[data-sec-spacing="sec-spacing-none"] {
  padding: var(--spacing-0) 0;
}

main .section[data-sec-spacing="sec-spacing-8"] {
  padding: var(--spacing-8) 0;
}

main .section[data-sec-spacing="sec-spacing-12"] {
  padding: var(--spacing-12) 0;
}

main .section[data-sec-spacing="sec-spacing-16"] {
  padding: var(--spacing-16) 0;
}

main .section[data-sec-spacing="sec-spacing-20"] {
  padding: var(--spacing-20) 0;
}

main .section[data-sec-spacing="sec-spacing-24"] {
  padding: var(--spacing-24) 0;
}

main .section[data-sec-spacing="sec-spacing-28"] {
  padding: var(--spacing-28) 0;
}

main .section[data-sec-spacing="sec-spacing-32"] {
  padding: var(--spacing-32) 0;
}

main .section[data-sec-spacing="sec-spacing-48"] {
  padding: var(--spacing-48) 0;
}

main .section[data-sec-spacing="sec-spacing-64"] {
  padding: var(--spacing-64) 0;
}

main .section[data-sec-spacing="sec-spacing-80"] {
  padding: var(--spacing-80) 0;
}

main .section[data-sec-spacing="sec-spacing-96"] {
  padding: var(--spacing-96) 0;
}

/* Section swoosh 
  body color: #F5F7F9
  primary-blue-90: #00538A
  primary-blue-70: #0071BC
  bg-neutrals-20: #FFF
  bg-neutrals-10: #FFF
*/
main .section[data-sec-swoosh^="sec-swoosh"]::before {
  background-repeat: no-repeat;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
}

main .section[data-sec-swoosh-position="swoosh-left-top"]::before { background-position: left top; }
main .section[data-sec-swoosh-position="swoosh-left-center"]::before { background-position: left center; }
main .section[data-sec-swoosh-position="swoosh-left-bottom"]::before { background-position: left bottom; }
main .section[data-sec-swoosh-position="swoosh-center-top"]::before { background-position: center top; }
main .section[data-sec-swoosh-position="swoosh-center-center"]::before { background-position: center center; }
main .section[data-sec-swoosh-position="swoosh-center-bottom"]::before { background-position: center bottom; }
main .section[data-sec-swoosh-position="swoosh-right-top"]::before { background-position: right top; }
main .section[data-sec-swoosh-position="swoosh-right-center"]::before { background-position: right center; }
main .section[data-sec-swoosh-position="swoosh-right-bottom"]::before { background-position: right bottom; }

@media (width < 768px) {
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/default-m.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/primary90-m.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/primary70-m.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type1"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/neutrals-m.svg');
  }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/default-m.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/primary90-m.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/primary70-m.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type2"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/neutrals-m.svg');
  }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/default-m.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/primary90-m.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/primary70-m.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type3"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/neutrals-m.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before {
    background-image: url('../icons/swoosh/primary-blue-90/mobile.svg');
    background-position: center center;
  }
}

@media (width >= 768px) and (width < 1024px) {
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/default-tab.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/primary90-tab.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/primary70-tab.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type1"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/neutrals-tab.svg');
  }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/default-tab.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/primary90-tab.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/primary70-tab.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type2"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/neutrals-tab.svg');
  }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/default-tab.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/primary90-tab.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/primary70-tab.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type3"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/neutrals-tab.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before {
    background-image: url('../icons/swoosh/primary-blue-90/tab.svg');
    background-position: center center;
  }
}

@media (width >= 1024px) {
  main .section.bg-default[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/default-d.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/primary90-d.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/primary70-d.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type1"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type1"]::before {
    background-image: url('../icons/swoosh/type1/neutrals-d.svg');
  }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/default-d.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/primary90-d.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/primary70-d.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type2"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type2"]::before {
    background-image: url('../icons/swoosh/type2/neutrals-d.svg');
  }

  main .section.bg-default[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/default-d.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/primary90-d.svg');
  }

  main .section.bg-primary-blue-70[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/primary70-d.svg');
  }

  main .section.bg-neutrals-20[data-sec-swoosh="sec-swoosh-type3"]::before,
  main .section.bg-neutrals-10[data-sec-swoosh="sec-swoosh-type3"]::before {
    background-image: url('../icons/swoosh/type3/neutrals-d.svg');
  }

  main .section.bg-primary-blue-90[data-sec-swoosh="sec-swoosh-primary-blue-90"]::before {
    background-image: url('../icons/swoosh/primary-blue-90/desktop.svg');
    background-position: center center;
  }
}

body.no-scroll {
  overflow-y: hidden; /* Prevent scrolling */
}
