main .breadcrumb-wrapper ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: var(--spacing-regular) 0 0;
}

main .breadcrumb-wrapper ol li {
  display: flex;
  font-size: var(--font-size-200);
  font-weight: 400;
  line-height: 17.2px;
  color: var(--text-on-light-link-primary-enabled);
}

main .breadcrumb-wrapper a {
  font-size: var(--font-size-200);
  line-height: 1.2;
  color: var(--accent-blue-primary-70);
  text-decoration: none;
}

main .breadcrumb-wrapper a:visited {
  color: var(--accent-blue-primary-70);
  text-decoration: none;
}

main .breadcrumb-wrapper ol li span.breadcrumb-separator {
  display: inline-block;
  border-left: 1px solid var(--neutral-solid-30-s);
  height: 17px;
  margin: 0 14px;
}

main .breadcrumb-wrapper ol li:last-child span.breadcrumb-separator {
  display: none;
}

main .breadcrumb-wrapper img {
  width: 12px;
  height: 12px;
}

@media (width >= 1024px){
  main .breadcrumb-wrapper ol li {
    line-height: 16.8px;
  }
  
}